#hiw {
	margin-bottom: 20px;
}
#hiw div {
	width: 297px;
	height: 309px;
}
#hiw div span {
	position: relative;
	top: 215px;
	left: 9px;
	display: block;
	width: 277px;
	font-size: 14px;
    padding-bottom: 5px;
    line-height: 17px;
}
#hiw1 {
	float: left;
	background: url('/views/static/howitworks/howitworks-step1.png') no-repeat;
}
#hiw2 {
	float: left;
	margin-left: 26px;
	background: url('/views/static/howitworks/howitworks-step2.png') no-repeat;
}
#hiw3 {
	float: right;
	background: url('/views/static/howitworks/howitworks-step3.png') no-repeat;
}
a.twitter-follow-button {
	margin-top:5px;
}