<h1>How Does LawSpot Work?</h1>
            
<p>LawSpot is a website where members of the public, like you, can ask questions about New Zealand law and qualified lawyer volunteers will answer them for free. The awesome people at the Wellington Community Law Centre will check the answers before they're published online for you to browse.</p>
<p id="hiw">
    <img id="hiw-1" src="/views/static/howitworks/howitworks-step1.png" width="297" height="309" alt="1. Ask it" />
    <img id="hiw-2" src="/views/static/howitworks/howitworks-step2.png" width="297" height="309" alt="2. Wait for it" />
    <img id="hiw-3" src="/views/static/howitworks/howitworks-step3.png" width="297" height="309" alt="3. Get it" />
</p>
<div style="clear: both"></div>
            
<p>
    <strong>Join the conversation at LawSpot's Facebook and Twitter Pages:</strong>
    <a href="https://twitter.com/lawspot_nz" class="twitter-follow-button" data-show-count="false">Follow @lawspot_nz</a>
</p>
            
<div id="fb-root"></div>
   
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Flawspot&amp;width=944&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=170670449668987" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:944px; height:258px; background: #fff;" allowTransparency="true"></iframe>