<h1> Reset Your Password </h1>

<p> You're almost done!  Please enter your new password below. </p>

<form method="post">
    <input type="hidden" name="selector" value="password" />
    <div class="field-label">
        <label for="password">Password:</label>
    </div>
    <div class="offset-field">
        <input id="password" name="Password" type="password" value="" autofocus />
        <div class="validation-error">{{ModelState.Password}}</div>
    </div>
    <div class="field-label">
        <label for="confirm-password">Confirm Password:</label>
    </div>
    <div class="offset-field">
        <input id="confirm-password" name="ConfirmPassword" type="password" value="" />
        <div class="validation-error">{{ModelState.ConfirmPassword}}</div>
    </div>
    <div class="offset-field">
        <button type="submit">CHANGE PASSWORD</button>
    </div>
</form>