{{Model Lawspot.Views.LawyerAdmin.LayoutViewModel}}

<div id="admin-layout">

    <section class="admin-sidebar">
        <div class="admin-profile">
    	    <img src="http://dummyimage.com/50" width="50" height="50" alt="" />
    	    <span class="user-name">{{UserFullName}}</span>
    	    <a href="/logout">Logout</a>
        </div>
        <ul class="list-arrows">
    	    <li><a href="/admin/answer-questions">Answer Questions</a></li>
    	    <li><a href="#">Edit Your Details</a></li>
    	    <li><a href="#">Upload Profile Image</a></li>
    	    <li><a href="#">Change Login</a></li>
        </ul>
        <hr />
        <ul class="list-arrows">
    	    <li><a href="/contact">Contact Us</a></li>
    	    <li><a href="/faq">LawSpot FAQ</a></li>
        </ul>
    </section>
    	
    <section class="admin-body">

	    {{Content}}

    </section>

</div>