<h1>Policy for Question Vetters</h1>

<h2>Background</h2>
<p>The LawSpot website is intended to provide general, and anonymous, legal information in response to questions submitted by registered LawSpot users. This document outlines the rights and responsibilities of LawSpot’s volunteers and policies relating to vetting questions submitted to LawSpot to ensure they fit within our Terms of Use and Privacy Policy. Please note that LawSpot reserves the right to cancel your registration as a LawSpot volunteer at any time, and that you as a volunteer have the right to quit and forfeit your registration at any time.</p>

<h2>Volunteer Rights</h2>
<p>LawSpot volunteers have the right:</p>
<ul>
  <li>To have a clearly defined role.</li>
  <li>To say “no” without guilt when asked to take on additional commitments and activities outside your role.</li>
  <li>To be respected and trusted.</li>
  <li>To question your work environment and have your opinions heard.</li>
  <li>To be encouraged and supported.</li>
  <li>To have someone or some process to help you solve problems or difficulties that arise in your role.</li>
</ul>

<h2>Volunteer Responsibilities</h2>
<p>LawSpot volunteers have responsibilities:</p>
<ul>
  <li>To work according to the policies set out in this document.</li>
  <li>To take your work seriously, act professionally at all times and perform it to the best of your ability, regardless of unpaid status.</li>
  <li>To commit only to things you can achieve.</li>
  <li>To act with integrity in accordance with ethical and professional work practices.</li>
  <li>To respect our aims and objectives.</li>
  <li>To encourage and support.</li>
  <li>To take steps to solve problems in your volunteer role and if you can’t, communicate with someone who can.</li>
</ul>