/* Normalize */
a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}
b,
strong {
    font-weight: bold;
}
p,
pre {
    margin: 1em 0;
}
small {
    font-size: 90%;
}
dl,
menu,
ol,
ul {
    margin: 0.8em 0;
}

dd {
    margin: 0 0 0 40px;
}
menu,
ol,
ul {
    padding: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
    -moz-border-radius: 15px;
    border-radius: 5px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    background: black url(/shared/images/background.jpg) no-repeat center top;
    font-size: 11pt;
    font-family: Arial, FreeSans, sans-serif;
    -moz-background-size: cover;
    background-size: cover;
    color: #373737;
}

/* Header & Nav */
header {
    display: block;
    height: 100px;
    width: 984px;
    margin: auto;
    position: relative;
}
a.site-logo {
	display: block;
	width: 300px;
	height: 75px;
	position: relative;
	top: 8px;
}
nav {
	display: block;
	width: 730px;
	height: 100px;
	background: url(/shared/images/nav.png) no-repeat;
	position: absolute;
	top: 0;
	margin-left: 285px;
}
nav ul {
	margin: 0 auto;
	padding: 0;
	width: 670px;
}
nav li {
	display: block;
	height: 41px;
	float: left;
	margin-top: 29px;
	background: url(/shared/images/nav-div.png) no-repeat right;
	padding-right: 1px;
	text-align: center;
}
nav li a {
	display: block;
	line-height: 38px;
	padding: 3px 0 0;
	width: 170px;
	background: url(/shared/images/nav-bg.png);
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-shadow: 2px 2px 2px #000000;
	filter: dropshadow(color=#000000, offx=2, offy=2);
}
nav li a:hover, nav li a.active {
	background: url(/shared/images/nav-active.png);
	text-decoration: none;
}
#_login {
	display: block;
	float: left;
	height: 25px;
	width: 142px;
	margin-top:29px;
	padding: 16px 15px 0 0;
	background: url(/shared/images/nav-bg.png);
	font-size: 0.85em;
	color: #fff;
	text-align: right;
}
#_login a {
	color: #efefef;
}
#_login a:hover {
	text-decoration: underline;
}
#_loggedIn {
    display: none;
}

/* Content */
section {
    display: block;
}
section.site-message {
    width: 984px;
    margin: auto;
    overflow: hidden;
}
section.site-message .success-message, section.site-message .warning-message, section.site-message .error-message
{
    -webkit-animation: glow-white 0.5s ease-out 0.8s 2 alternate;
       -moz-animation: glow-white 0.5s ease-out 0.8s 2 alternate;
        -ms-animation: glow-white 0.5s ease-out 0.8s 2 alternate;
}
@-webkit-keyframes glow-white {  
    to {
        background-color: white;
    }
}
section.site-body {
    width: 924px;
    padding: 20px 30px;
    margin: auto;
    background-color: #EBEDEC;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    min-height: 500px;
    line-height: 1.5;
}

/* Theme */
a {
    color: #306288;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1 {
    font-size: 24pt;
    margin: 0 0 15px;
    color: #373737;
    font-weight: normal;
}
h2 {
    font-size: 15pt;
    margin: 8px 0;
    color: #373737;
}
h3 {
    font-size: 12pt;
    margin: 6px 0;
}
h2.underline {
	color: #373737;
	border-bottom: solid 1px #CACACA;
}
.content-left {
	width: 590px;
}
.fullbox {
	background-color: #edebe4;
	border: solid 1px #bcbbba;
	border-radius: 3px;
	padding: 5px 12px 12px;
}
.large-text {
	font-size: 14pt;
}
.orange-text {
	color: #CF720B;
}
.left {
	float: left;
}
.right {
	float: right;
}
.centre {
	margin: 0 auto;
	text-align: center;
}
ul.list-arrows {
	margin: 10px 0px 10px 20px;
	padding: 0;
}
ul.list-arrows li {
	list-style-image: url(/shared/images/list-arrow.png);
	margin-bottom: 10px;
}
ul.list-arrows li a {
	color: #306288;
}

/* General - Form stuff */
form h2,form h3 {
	margin-top: 0;
}
button {
    background-color: #009200;
    background:    -moz-linear-gradient(top, #00A200 0%, #006100 100%);
    background: -webkit-linear-gradient(top, #00A200 0%, #006100 100%);
    background:      -o-linear-gradient(top, #00A200 0%, #006100 100%);
    background:     -ms-linear-gradient(top, #00A200 0%, #006100 100%);
    background:         linear-gradient(top, #00A200 0%, #006100 100%);
    border: 1px solid #3D5054;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: White;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    padding: 8px 16px;
}
button:hover {
    background-color: #00B100;
    background:    -moz-linear-gradient(top, #00C200 0%, #008100 100%);
    background: -webkit-linear-gradient(top, #00C200 0%, #008100 100%);
    background:      -o-linear-gradient(top, #00C200 0%, #008100 100%);
    background:     -ms-linear-gradient(top, #00C200 0%, #008100 100%);
    background:         linear-gradient(top, #00C200 0%, #008100 100%);
}
button:active {
    background-color: #007100;
    background:    -moz-linear-gradient(top, #007200 0%, #008100 100%);
    background: -webkit-linear-gradient(top, #007200 0%, #008100 100%);
    background:      -o-linear-gradient(top, #007200 0%, #008100 100%);
    background:     -ms-linear-gradient(top, #007200 0%, #008100 100%);
    background:         linear-gradient(top, #007200 0%, #008100 100%);
}
button.red {
	background-color: #FF0000;
	background:    -moz-linear-gradient(top, #F00000 0%, #710000 100%);
	background: -webkit-linear-gradient(top, #F00000 0%, #710000 100%);
	background:      -o-linear-gradient(top, #F00000 0%, #710000 100%);
	background:     -ms-linear-gradient(top, #F00000 0%, #710000 100%);
	background:         linear-gradient(top, #F00000 0%, #710000 100%);
}
button.red:hover {
	background-color: #C10000;
	background:    -moz-linear-gradient(top, #FF4444 0%, #880000 100%);
	background: -webkit-linear-gradient(top, #FF4444 0%, #880000 100%);
	background:      -o-linear-gradient(top, #FF4444 0%, #880000 100%);
	background:     -ms-linear-gradient(top, #FF4444 0%, #880000 100%);
	background:         linear-gradient(top, #FF4444 0%, #880000 100%);
}
button.red:active {
	background-color: #6A0000;
	background:    -moz-linear-gradient(top, #620000 0%, #710000 100%);
	background: -webkit-linear-gradient(top, #620000 0%, #710000 100%);
	background:      -o-linear-gradient(top, #620000 0%, #710000 100%);
	background:     -ms-linear-gradient(top, #620000 0%, #710000 100%);
	background:         linear-gradient(top, #620000 0%, #710000 100%);
}
input[type=text], input[type=password], select, textarea {
    width: 300px;
    padding: 6px;
    border: 1px solid #BCBBBA;
    background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(4%, #EEE), to(white));
    background: -webkit-linear-gradient(top, white, #EEE 1px, white 25px);
    background: -moz-linear-gradient(top, white, #EEE 1px, white 25px);
    background: -ms-linear-gradient(top, white, #EEE 1px, white 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
select {
    width: 300px;
    padding: 6px;
}
textarea {
    font-family: Arial, FreeSans, sans-serif;
}
button[disabled], button[disabled]:hover {
	background: #9D9D9D;
	background: -moz-linear-gradient(top, rgb(157,157,157) 0%, rgb(77,77,77) 100%);
	background: -webkit-linear-gradient(top, rgb(157,157,157) 0%,rgb(77,77,77) 100%);
	background: -o-linear-gradient(top, rgb(157,157,157) 0%,rgb(77,77,77) 100%);
	background: -ms-linear-gradient(top, rgb(157,157,157) 0%,rgb(77,77,77) 100%);
	background: linear-gradient(top, rgb(157,157,157) 0%,rgb(77,77,77) 100%);	
}

/* Footer */
footer {
    display: block;
    width: 932px;
    height: 39px;
    background-image: url(/shared/images/footer.png);
    text-align: center;
    margin: 18px auto;
}
footer ul {
    list-style-type: none;
    margin: 0;
}
footer li {
    display: inline-block;
}
footer a {
    display: block;
    padding: 8px 10px;
    color: #707070;
}
footer a:hover {
    color: white;
}
footer .copyright {
    padding: 15px 0;
    color: #707070;
    font-size: 9pt;
    clear: both;
}


/* Common elements */
.info-message, .success-message, .warning-message, .error-message {
    border: 1px solid;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info-message {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/shared/images/info.png');
    border: none;
}
.info-message a {
    color: #0077E0;
}
.success-message {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/shared/images/success.png');
}
.warning-message {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/shared/images/warning.png');
}
.error-message {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/shared/images/error.png');
}
.privacy-message {
	font-size: 0.85em;
	margin-right: 10px;
}
.privacy-message img {
	float: left;
	margin-right: 10px;
}
.container-form {
    background-color: #EDEBE4;
    border: solid 1px #BCBBBA;
    border-radius: 3px;
    padding: 20px;
}
.field-label {
    display: block;
    width: 150px;
    text-align: right;
    float: left;
    margin-top: 7px;
}
.offset-field {
    margin: 0 0 18px 175px;
}
.required {
    font-weight: bold;
    color: Red;
}
.validation-error {
    margin: 4px 0 8px;
    color: Red;
}
input[type].validation-error-field,
.validation-error-field {
    border-color: Red;
}

/* Sidebar elements */
.sidebar {
    width: 350px;
    margin-left: 10px;
    float: right;
}
.sidebar .laptop {
    text-align: center;
    margin-bottom: 10px;
}
.sidebar section {
    border: 1px solid #BBB7B6;
    border-radius: 6px;
    padding: 5px 12px 14px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 8px #888;
    background: white;
}
.sidebar .lawyer {
    float: left;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    margin: 10px 10px 0 0;
}

/* Page numbers */
.page-numbers {
    text-align: right;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 4px 0;
}
.page-numbers .button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #BCBBBA;
    background: white;
}
.page-numbers .current-page {
    font-weight: bold;
}
.page-numbers .disabled {
    color: #BCBBBA;
}