{{Model Lawspot.Controllers.BaseController+LayoutViewModel}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LawSpot - Legal Questions, Free Answers</title>
    <meta charset="utf-8" />
    {{Stylesheets}}
    <link rel="shortcut icon" href="/shared/images/favicon.ico" />
    <!--[if lte IE 8]>
    <style type="text/css">
    body { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/shared/images/background.jpg', sizingMethod='scale'); }
    </style>
    <script>
      var e = ("abbr,article,aside,audio,canvas,datalist,details," +
        "figure,footer,header,hgroup,mark,menu,meter,nav,output," +
        "progress,section,time,video").split(',');
      for (var i = 0; i < e.length; i++) {
        document.createElement(e[i]);
      }
    </script>
    <![endif]-->
</head>
<body>
    <!--[if lte IE 8]>
    <div class="warning-message" style="width: 984px; margin: auto;">
        Please note that there are known layout issues with this site in Internet Explorer 8 and below.
    </div>
    <![endif]-->

    <header>
        <a href="/home" class="site-logo" title="LawSpot.org.nz"><img src="/shared/images/logo.png" alt="LawSpot.org.nz" /></a>
        <nav id="_header">
        	<ul>
        		<li><a id="_askALawyerTab" href="/ask">Ask a Lawyer</a></li>
        		<li><a id="_browseAnswersTab" href="/browse">Browse Answers</a></li>
        		<li><a id="_howItWorksTab" href="/how-it-works">How it works</a></li>
        	</ul>
        	<div id="_login">
                <div id="_notLoggedIn">
                    <a href="/login">Login</a> | <a href="/register">Register</a>
                </div>
                <div id="_loggedIn">
                    <a href="/admin/account-settings">My Account</a> | <a href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <section id="_message" class="site-message">
        <script id="_messageTemplate" type="text/template">
            {{#SuccessMessage}}
                <div class="success-message">
                    {{SuccessMessage}}
                </div>
            {{/SuccessMessage}}
        </script>
    </section>
    <section class="site-body">
        <div id="_content"></div>
        <div style="clear: both"></div>
    </section>
    <footer>
        <ul>
            <li> <a href="/faq">FAQ</a> </li>
            <li> <a href="/about">About Us</a> </li>
            <li> <a href="/privacy-policy">Privacy Policy</a> </li>
            <li> <a href="/terms">Terms Of Use</a> </li>
            <li> <a href="/partner">Partner With Us</a> </li>
            <li> <a href="/contact">Contact Us</a> </li>
        </ul>
        <div class="copyright">
            &copy; LawSpot 2012 <br />
            In Partnership with the Wellington Community Law Centre
        </div>
    </footer>
    
    <script id="_contentTemplate" type="text/template">
        {{Content}}
    </script>
    {{Model}}
    {{Scripts}}
</body>
</html>