{{Model Lawspot.Controllers.BaseController+LayoutViewModel}}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LawSpot - Legal Questions, Free Answers</title>
    <meta charset="utf-8" />
    {{Stylesheets}}
    <link rel="shortcut icon" href="/shared/images/favicon.ico" />
    <!--[if lte IE 8]>
    <style type="text/css">
    body { filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/shared/images/background.jpg', sizingMethod='scale'); }
    </style>
    <![endif]-->
</head>
<body>
    <header>
        <a href="/home" class="site-logo" title="LawSpot.org.nz"><img src="/shared/images/logo.png" /></a>
        <nav>
        	<ul>
        		<li><a href="/ask" class="active">Ask a Lawyer</a></li> <!-- add class="active" to current page -->
        		<li><a href="/browse">Browse Answers</a></li>
        		<li><a href="/how-it-works">How it works</a></li>
        	</ul>
        	<div id="_login">
                <script id="_loginTemplate" type="text/template">
                    {{^User}}
                        <a href="/login">Login</a> | <a href="/register">Register</a>
                    {{/User}}
                    {{#User}}
                        <!-- <a href="/admin">My Account</a> | --> <a href="/logout">Logout</a>
                    {{/User}}
                </script>
            </div>
        </nav>
    </header>
    <section id="_message" class="site-message">
        <script id="_messageTemplate" type="text/template">
            {{#SuccessMessage}}
                <div class="success-message">
                    {{SuccessMessage}}
                </div>
            {{/SuccessMessage}}
            {{#User.IsLawyer}}
                {{^InLawyerAdmin}}
                    <div class="warning-message">
                        There are 4 unanswered questions.
                        <button onclick="window.location.href = '/admin/answer-questions'">ANSWER QUESTIONS</button>
                    </div>
                {{/InLawyerAdmin}}
            {{/User.IsLawyer}}
            {{#User.IsVolunteerAdmin}}
                {{^InAdmin}}
                    <div class="warning-message">
                        <button onclick="window.location.href = '/admin/review-lawyers'">REVIEW LAWYERS</button>
                        <button onclick="window.location.href = '/admin/review-questions'">REVIEW QUESTIONS</button>
                        <button onclick="window.location.href = '/admin/review-answers'">REVIEW ANSWERS</button>
                    </div>
                {{/InAdmin}}
            {{/User.IsVolunteerAdmin}}
        </script>
    </section>
    <section class="site-body">
        <div id="_content"></div>
        <div style="clear: both"></div>
    </section>
    <footer>
        <ul>
            <li> <a href="/faq">FAQ</a> </li>
            <li> <a href="/about">About Us</a> </li>
            <li> <a href="/privacy">Privacy Policy</a> </li>
            <li> <a href="/terms">Terms Of Use</a> </li>
            <li> <a href="/partner">Partner With Us</a> </li>
            <li> <a href="/contact">Contact Us</a> </li>
        </ul>
    </footer>
    
    <script id="_contentTemplate" type="text/template">
        {{Content}}
    </script>
    {{Model}}
    {{Scripts}}
</body>
</html>