<h1> Thank You For Your Question </h1>
            
<section class="fullbox">
    <p><strong class="label-left">Question</strong> <span class="tabbed-text">{{Title}}</span></p>
    <p><strong class="label-left">Topic</strong> <span class="tabbed-text">{{Category}}</span></p>
    <p><strong class="label-left">Email</strong> <span class="tabbed-text">{{EmailAddress}}</span></p>
    <p>Please note that although we endeavour to heave our lawyers answer your questions within 1-2 business days, it may take longer in some cases depending on the specifics of the question.</p>
    <p class="homelink"><a href="/home">Back Home</a></p>
</section>