{{Model Lawspot.Views.Ask.QuestionThankYouModel}}

<h1> Thank You For Your Question </h1>
            
<section class="fullbox">
    <p><strong class="label-left">Question</strong> <span class="tabbed-text">{{Title}}</span></p>
    <p><strong class="label-left">Topic</strong> <span class="tabbed-text">{{Category}}</span></p>
    <p><strong class="label-left">Email</strong> <span class="tabbed-text">{{EmailAddress}}</span></p>
    
    <p>
        Thanks for being one of the first people to submit a question on LawSpot! Please note that
        as the website is in its pilot phase, questions submitted in April may not receive an
        answer until May as we iron out the back-end processes. Thank you for your patience.
    </p>
    
    {{#Registered}}
        <p>
            You will now receive an email asking you to confirm your email address and to confirm that
            you read and understood the website's <a href="/terms">Terms of Use</a> before you
            submitted your question.  Your question will not be answered until you respond to this
            email.
        </p>
    {{/Registered}}

    <p>
        Be aware that before your question is passed on to our lawyer volunteers to answer, it will
        be screened and categorised by one of our LawSpot administrators. LawSpot reserves the
        right to refuse to answer a question if the LawSpot administrator considers that the
        question:
    </p>
    <ul>
        <li> has already been asked and answered on the Website; </li>
        <li> contains objectionable or offensive material; </li>
        <li> is too complex or specific in nature; or </li>
        <li> contains information that would place the user at risk of being personally identified; </li>
        <li> or for any other reason. </li>
    </ul>

    <p>
        LawSpot also reserves the right to modify (through its administrators) any question that
        might otherwise be rejected for any of the above reasons so that it can be made available
        for lawyers to answer.
    </p>

    <p>
        If you have any issues with the website or just want to say hi, email us at
        <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
    </p>

    <p class="homelink"><a href="/home">Back Home</a></p>
</section>