{{Model Lawspot.Views.Ask.QuestionThankYouModel}}

<h1> Thank You For Your Question </h1>
            
<section class="fullbox">
    <p><strong class="label-left">Question</strong> <span class="tabbed-text">{{Title}}</span></p>
    <p><strong class="label-left">Topic</strong> <span class="tabbed-text">{{Category}}</span></p>
    <p><strong class="label-left">Email</strong> <span class="tabbed-text">{{EmailAddress}}</span></p>
    
    <p>
        Thanks for being one of the first people to submit a question on LawSpot! Please note that
        as the website is in its pilot phase, questions submitted in April may not receive an
        answer until May as we iron out the back-end processes. Thank you for your patience.
    </p>
    
    {{#Registered}}
        <p>
            You will now receive an email asking you to confirm your email address and to confirm that
            you read and understood the website's <a href="/terms">Terms of Use</a> before you
            submitted your question.  Your question will not be answered until you respond to this
            email.
        </p>
    {{/Registered}}

    <p>
        Your question will then be screened by one of LawSpot’s administrators for appropriateness.
        They will remove any offensive information, any information that reveals identifying
        information about you and they will also categorise each question. Be aware that before
        your question is passed on to our lawyer volunteers to answer, it may be modified by our
        administrators to make it appropriate and/or to avoid duplication of existing questions.
        LawSpot reserves the right to reject your question if the same or a closely related
        question has already been answered on the website, or for any other reason.
    </p>

    <p class="homelink"><a href="/home">Back Home</a></p>
</section>