{{Model Lawspot.Views.Browse.BrowsePageViewModel}}

<div id="breadcrumb">
    <a href="/home">Home</a> &gt;
    Browse
</div>

<h1> Browse Questions & Answers </h1>

<div class="search-form">
    <form method="get" action="/search">
        <input name="query" type="text" placeholder="Enter your search query..."
         maxlength="150" autofocus /><button type="submit">SEARCH</button>
    </form>
</div>

<ul class="categories">
    {{#Categories1}}
        <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
    {{/Categories1}}
</ul>
<ul class="categories">
    {{#Categories2}}
        <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
    {{/Categories2}}
</ul>
<div style="clear: both"></div>

<h2> Recent Questions and Answers</h2>

{{#RecentAnswers}}
    <div class="question">
        <div class="title">
            <a href="{{Uri}}">{{Title}}</a>
        </div>
        <div class="details">
            {{Details}}
        </div>
        <div class="asked">
            {{AnsweredBy}} answered {{AnsweredTime}}
        </div>
    </div>
{{/RecentAnswers}}
{{^RecentAnswers}}
    <p> None yet. </p>
{{/RecentAnswers}}

<h2> Most Viewed {{Name}} Questions and Answers </h2>

<ul class="list-arrows">
    {{#MostViewedQuestions}}
	    <li><a href="{{Url}}">{{Title}}</a><br />
		    <span class="mv-poststats">{{AnswerCount}} | {{ViewCount}}</span></li>
    {{/MostViewedQuestions}}
</ul>

{{^MostViewedQuestions}}
    <p> None yet. </p>
{{/MostViewedQuestions}}