.topic {
    float: left;
    width: 20%;
}
.ask {
    margin-bottom: 45px;
}
input.ask-textbox {
    border: 2px solid #918F90;
    width: 390px;
    height: 52px;
    border-radius: 6px;
    padding: 0 16px;
    margin-right: 4px;
    vertical-align: middle
}
.ask-button {
    width: 160px;
    height: 52px;
    font-size: 22pt;
    vertical-align: middle;
}
.question {
    margin: 22px 0;
}
.question .frame {
    float: left;
    background: white;
    border: 1px solid #5A5957;
    padding: 2px;
    border-radius: 3px;
}
.question .frame img {
    width: 49px;
    height: 64px;
    vertical-align: middle;
}
.question .body {
    margin-left: 70px;
}
.question .title, .question .details, .question .asked {
    margin: 6px 0;
}
.question .asked {
    font-size: smaller;
}

/* Categories list */
.categories {
    list-style: none;
    padding: 0;
    width: 290px;
    float: left;
}
.categories li {
    padding: 0 0 10px 0;
}

/* Ask a question */
.ask-sidebar {
	margin: 40px 0 20px;
	text-align: center;
}
.ask-sidebar .ask-textbox {
	width: 240px;
	height: 40px;
	padding: 0 10px;
}
.ask-sidebar .ask-button {
	width: 70px;
	height: 40px;
	font-size: 14pt;
	padding: 0;
}