{{Model Lawspot.Views.Browse.BrowsePageViewModel}}

<section class="sidebar">
<div class="laptop">
    <img src="/views/browse/home/laptop.png" />
</div>

    {{^User}}
        <section>
            <h2> Are you a lawyer? </h2>
            <img class="lawyer" src="/views/browse/lawyer.png" />
            <p>
                Help the community and grow your practice!
                <a href="/lawyer-register">Find out how.</a>
            </p>
            <p>
                Already registered?  <a href="/login">Login here</a>.
            </p>
        </section>
    {{/User}}
   
    <section>
        <h2>Most viewed Q&A</h2>
        <ul class="list-arrows">
            {{#MostViewedQuestions}}
        	    <li><a href="{{Url}}">{{Title}}</a></li>
            {{/MostViewedQuestions}}
        </ul>
    </section>
</section>

<section class="left-content">
<div id="breadcrumb">
    <a href="/home">Home</a> &gt;
    Browse
</div>

<h1> Browse Questions & Answers </h1>

<div class="search-form">
    <form method="get" action="/search">
        <input name="query" type="text" placeholder="Enter your search query..."
         maxlength="150" autofocus /><button type="submit">SEARCH</button>
    </form>
</div>

<ul class="categories">
    {{#Categories1}}
        <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
    {{/Categories1}}
</ul>
<ul class="categories">
    {{#Categories2}}
        <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
    {{/Categories2}}
</ul>
<div style="clear: left"></div>

<h2> Recent Questions and Answers</h2>

{{#RecentAnswers.Items}}
    <div class="question">
        <div class="title">
            <a href="{{Uri}}">{{Title}}</a>
        </div>
        <div class="details">
            {{Details}}
        </div>
        <div class="asked">
            {{AnsweredBy}} answered {{AnsweredTime}}
        </div>
    </div>
{{/RecentAnswers.Items}}
{{^RecentAnswers.Items}}
    <p> None yet. </p>
{{/RecentAnswers.Items}}

{{! Page numbers }}
{{#RecentAnswers}}
    {{#ShowPageLabels}}
        <div class="page-numbers">
            {{#HasPrevious}}
                <a class="button" href="{{PreviousUri}}">Previous</a>
            {{/HasPrevious}}
            {{^HasPrevious}}
                <span class="button disabled">Previous</span>
            {{/HasPrevious}}
            {{#PageLabels}}
                {{#NavigateUri}}
                    <a class="button" href="{{NavigateUri}}">{{Text}}</a>
                {{/NavigateUri}}
                {{#IsCurrentPage}}
                    <span class="button current-page">{{Text}}</span>
                {{/IsCurrentPage}}
                {{#IsEllipsis}}
                    <span class="ellipsis">{{Text}}</span>
                {{/IsEllipsis}}
            {{/PageLabels}}
            {{#HasNext}}
                <a class="button" href="{{NextUri}}">Next</a>
            {{/HasNext}}
            {{^HasNext}}
                <span class="button disabled">Next</span>
            {{/HasNext}}
        </div>
    {{/ShowPageLabels}}
{{/RecentAnswers}}
</section>