<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DomainName" value="localhost:59766"/>
    <add key="SendErrorEmailTo" value="paulbartrum@hotmail.com"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="LawSpot &lt;mailer@lawspot.org.nz&gt;" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\inetpub\email"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <customErrors mode="Off" defaultRedirect="/500">
      <error statusCode="404" redirect="/404"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="Off" />

    <authentication mode="None" /> <!-- We do our own authentication -->
    <!-- Set a machine key so cookies don't become invalid when moving servers. -->
    <machineKey validationKey="C179F66191BF538CF7F7CA1A57DA081C119908A528547EB8B5A1A6CF2EBD9279DB2346FB5BD54824B68F6724D0516171DA72EDEB1E5B1D61E7C67DD0EC9E93F8"
                decryptionKey="6CA1ADA66C77D78AE2CC88F1C5B8F5445C780E05BB5B8CDC745F192A94FB1788"
                validation="SHA1" decryption="AES" />
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>