<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
  <connectionStrings>
    <add name="DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DomainName" value="localhost:59766"/>
    <add key="SendErrorEmailTo" value="paulbartrum@hotmail.com"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="LawSpot &lt;mailer@lawspot.org.nz&gt;" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\inetpub\email"/>
      </smtp>
    </mailSettings>
  </system.net>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" />
    </authentication>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>