<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- AppHarbor settings -->

  <appSettings>
    <add key="DomainName" value="lawspot.apphb.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!-- <customErrors mode="RemoteOnly" xdt:Transform="Replace" /> -->
  </system.web>
  
</configuration>