.left {
    width: 480px;
    padding-top: 3px;
}
.privacy-message {
	font-size: 10pt;
	margin-right: 10px;
}
.privacy-message img {
    float: left;
    margin-right: 10px;
    width: 22px;
    height: 27px;
}
#register-sidebar {
    width: 370px;
    padding-top: 15px;
    margin-right: 20px;
}
.community-services-text {
    display: block;
    color: #777;
    line-height: 1.4;
}