{{Model Lawspot.Views.Browse.PublisherViewModel}}

<section class="sidebar">
    <section>
        <h2>Recently answered questions</h2>

        <ul class="list-arrows">
            {{#RecentlyAnsweredQuestions}}
                <li><a href="{{Url}}">{{Title}}</a></li>
            {{/RecentlyAnsweredQuestions}}
            {{^RecentlyAnsweredQuestions}}
                <li>None</li>
            {{/RecentlyAnsweredQuestions}}
        </ul>
    </section>
</section>

<img src="{{LogoUri}}" style="float: right"/>

<h2>{{Name}}</h2>

{{#PhoneNumber}}
<div>Phone: <a href="tel:{{PhoneNumber}}">{{PhoneNumber}}</a></div>
{{/PhoneNumber}}

{{#EmailAddress}}
<div>Email: <a href="mailto:{{EmailAddress}}">{{EmailAddress}}</a></div>
{{/EmailAddress}}

{{#WebsiteUri}}
<div>Website: <a href="{{WebsiteUri}}">{{WebsiteUri}}</a></div>
{{/WebsiteUri}}

{{#PhysicalAddressHtml}}
<table style="margin: 12px 0">
    <tr>
        <td valign="top"><img src="/Views/Browse/Publisher/envelope.png" width="32" style="margin-right: 8px" /></td>
        <td>
            <div>
                {{{PhysicalAddressHtml}}}
            </div>
            {{#PhysicalAddressQuery}}
                <a href="http://maps.google.com/?q={{PhysicalAddressQuery}}">View on map</a>
            {{/PhysicalAddressQuery}}
        </td>
    </tr>
</table>
{{/PhysicalAddressHtml}}

<div>{{{DescriptionHtml}}}</div>