<h1> Partner With Us </h1>

<p>We're always on the lookout for new partnership opportunities. Please contact <a href="mailto:partnerships@lawspot.org.nz">partnerships@lawspot.org.nz</a> if you are:</p>

<ul>
    <li>a business looking to support a high-impact, innovative community initiative, or</li>
    <li>a community organisation that shares LawSpot's vision of increasing all Kiwis' access to the law</li>
</ul>

<p>We’d love to hear from you!</p>


<h2>Community Law</h2>

<p>LawSpot operates in partnership with <a href="http://www.wclc.org.nz/" target="_blank">Community Law Wellington and Hutt Valley</a>.</p>

<p>Many of the answers published refer to chapters in the Legal Reference Manual accessible from the website of the Coalition of Community Law Centres o Aotearoa. This is a great resource covering many areas of law that people have questions about - check it out at:</p>

<p class="centre"><a href="http://www.communitylaw.org.nz/" target="_blank"><img src="/views/static/partnerwithus/community-law.png" alt="Community Law"></a></p>


<h2>Plain English</h2>

<p>We ask Write Limited when we have questions about how to write in plain English.</p>

<p class="centre"><a href="http://www.write.co.nz/" target="_blank"><img src="/views/static/partnerwithus/write-logo.png" alt="Write"></a></p>


<h2>Law firms</h2>

<p>
    We have agreements with lawyers who provide their time to draft answers for LawSpot.  These answers are published by
    either Community Law Wellington and Hutt Valley or one of our partner law firms.  The publisher of an answer is
    displayed next to the answer.
</p>

<p>
    Some of our partner law firms are:
    <ul>
        <li>DLA Phillips Fox</li>
        <li>John Miller Law</li>
        <li>Cooper Legal</li>
    </ul>
</p>
