<?xml version="1.0"?>

<configuration>
  <system.web>
    <httpHandlers>
      <add path="*.css" verb="*" type="System.Web.HttpNotFoundHandler"/>
      <add path="*.html" verb="*" type="System.Web.HttpNotFoundHandler"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>