<h1> Reference Materials </h1>

<ul>
    <li><a href="/Views/Admin/ReferenceMaterials/Checklist 5 Aug.pdf">Checklist for writing LawSpot responses (5 Aug 2013).pdf</a>
    <li><a href="/Views/Admin/ReferenceMaterials/Q and A for Trainee Lawyers 30 Jul.docx">Q+A for Trainee Lawyers (30 July 2013).docx</a>
    <li><a href="/Views/Admin/ReferenceMaterials/Quiz for Trainee Lawyers - blank 30 Jul.docx">Quiz for Trainee Lawyers - blank (30 July 2013).docx</a>
    <li><a href="/Views/Admin/ReferenceMaterials/Training Slides for Lawyer Volunteers 30 Jul.pptx">Training Slides for Lawyer Volunteers (30 July 2013).pptx</a>
    <li><a href="/Views/Admin/ReferenceMaterials/LawSpot - Tips for writing great LawSpot answers.pdf">LawSpot - Tips for writing great LawSpot answers.pdf (24 Nov 2013)</a>
</ul>

<h2> Hints and tips </h2>

<p>
    If you see a question that has been incorrectly vetted, please email Laura (<a href="mailto:vetting@lawspot.org.nz">vetting@lawspot.org.nz</a>)
    to let her know what needs to be changed. Please also include the url link to the question.
</p>

<p>
    Anyone resubmitting an answer needs to manually right click on each of the links in the previous
    answer that has been rejected and copy the hyperlink, then paste it into the new answer (for each
    hyperlink they used). If you only copy/paste the entire text from the original answer, the hyperlinks
    get picked up. Please also remember to include http:// before any URLs you use!
</p>
