{{Model Lawspot.Views.Admin.Admin.AdminViewModel}}

<h1> Administer Site </h1>

<div style="margin-bottom: 40px">
    <form method="post">
        <p>
            If the search function is not bringing back questions that you know it should be, it
            may be that the index is out of sync.  Clicking the button below should fix it.
        </p>
        <button type="submit" name="RebuildSearchIndex">Rebuild Search Index</button>
    </form>
</div>

<div style="margin-bottom: 40px">
    <form method="post">
        <div style="margin-bottom: 4px">
            To stop people from asking questions, uncheck the box below, make sure the message is suitable and then hit the Update button.
        </div>
        <div style="margin-bottom: 4px">
            <label><input name="AllowQuestions" type="checkbox" {{#AllowQuestions}} checked="checked" {{/AllowQuestions}} value="true" /> Allow questions</label>
        </div>

        <div style="margin-bottom: 4px">
            HTML message to display (only applicable if questions are disallowed):
        </div>
        <textarea name="CannotAskQuestionsMessage" style="width: 100%; height: 15em; margin-bottom: 8px">{{CannotAskQuestionsMessage}}</textarea>
        <div>
            <button type="submit" name="UpdateAllowQuestions">Update</button>
        </div>
    </form>
</div>