{{Model Lawspot.Views.Account.LawyerThankYouViewModel}}

<h1> Thank You For Registering </h1>

<p> Thank you! </p>

{{#Registered}}
    <p>
        You will now receive an email asking you to confirm your email address. Once you've done that,
        we will need to verify a few of your details. If you have any questions in the meantime, please
        contact <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
    </p>
{{/Registered}}

<p>
    Please note that LawSpot is currently being piloted in the Wellington region. This means that
    for the moment only lawyers based in Wellington will be able to submit answers to questions,
    and only under the supervision of Community Law Wellington & Hutt Valley. We'll be sure to let you
    know over the next few weeks when lawyers from other regions can start submitting answers. You
    may still be able to help with the pilot even if you're not based in Wellington - to find out
    more, please email us at <a href="&#109;ailto&#58;volunteer&#64;lawspot.org.nz">
    volunteer&#64;lawspot.org.nz</a>.
</p>

<p>
    <a href="/home">Back to Home</a>
</p>