{{Model Lawspot.Views.Account.LawyerRegisterViewModel}}

<h1> Lawyer Registration </h1>

<form id="law-register-form" method="post" action="/lawyer-register" class="container-form">
    <h2 id="law-register-header">Please complete the form below</h2>

    <div class="field-label">
        <label for="EmailAddress"> Email address: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <input id="EmailAddress" name="EmailAddress" type="text" value="{{EmailAddress}}" maxlength="256" autofocus
            {{#ModelState.EmailAddress}}class="validation-error-field"{{/ModelState.EmailAddress}} />
        <div class="validation-error">{{ModelState.EmailAddress}}</div>
    </div>

    <div class="field-label">
        <label for="Password"> Password: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <input id="Password" name="Password" type="password" value="{{Password}}" maxlength="100"
            {{#ModelState.Password}}class="validation-error-field"{{/ModelState.Password}} />
        <div class="validation-error">{{ModelState.Password}}</div>
    </div>

    <div class="field-label">
        <label for="ConfirmPassword"> Confirm password: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="{{ConfirmPassword}}" maxlength="100"
            {{#ModelState.ConfirmPassword}}class="validation-error-field"{{/ModelState.ConfirmPassword}} />
        <div class="validation-error">{{ModelState.ConfirmPassword}}</div>
    </div>

    <div class="field-label">
        <label for="RegionId"> Region: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <select id="RegionId" name="RegionId">
            {{#Regions}}
                <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/Regions}}
        </select>
    </div>

    <div class="field-label">
        <label for="FirstName"> Name: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <input id="FirstName" name="FirstName" type="text" value="{{FirstName}}" maxlength="50" placeholder="First Name"
            {{#ModelState.FirstName}}class="validation-error-field"{{/ModelState.FirstName}} />
        <input id="LastName" name="LastName" type="text" value="{{LastName}}" maxlength="50" placeholder="Last Name"
            {{#ModelState.LastName}}class="validation-error-field"{{/ModelState.LastName}} />
        <div class="validation-error">{{ModelState.FirstName}}</div>
        <div class="validation-error">{{ModelState.LastName}}</div>
    </div>

    <div class="field-label">
        <label for="YearAdmitted"> Year admitted: </label>
        <span class="required">*</span>
    </div>
    <div class="offset-field">
        <select id="YearAdmitted" name="YearAdmitted">
            <option value="0">Select year</option>
            {{#AdmissionYears}}
                <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/AdmissionYears}}
        </select>
        <div class="validation-error">{{ModelState.YearAdmitted}}</div>
    </div>

    <div class="field-label">
        <label for="AreaOfSpecialisation"> Area of specialisation (if any): </label>
    </div>
    <div class="offset-field">
        <select id="AreaOfSpecialisation" name="SpecialisationCategoryId">
            <option value="0">Select specialisation</option>
            {{#Categories}}
                <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/Categories}}
        </select>
        <div class="validation-error">{{ModelState.SpecialisationCategoryId}}</div>
    </div>

    <div class="field-label">
        <label for="FirmName"> Firm name (if any): </label>
    </div>
    <div class="offset-field">
        <input id="FirmName" name="FirmName" type="text" value="{{FirmName}}" maxlength="15"
            {{#ModelState.FirmName}}class="validation-error-field"{{/ModelState.FirmName}} />
        <div class="validation-error">{{ModelState.FirmName}}</div>
    </div>

    <div class="offset-field">
        <label>
            <input name="Agreement" type="checkbox" {{#Agreement}}checked{{/Agreement}} value="true"
                {{#ModelState.Agreement}}class="validation-error-field"{{/ModelState.Agreement}} />
            I agree to the
        </label>
        <a href="/terms-of-engagement" target="_blank">LawSpot Pro Bono Terms of Engagement</a>
        <div class="validation-error">{{ModelState.Agreement}}</div>
    </div>

    <div class="field-label privacy-message">
        <img src="/shared/images/lock.png" alt="" class="privacy" />
        Your information is safe with us.
    </div>

    <div class="offset-field">
        <button> SIGN UP NOW </button>
    </div>
</form>
            
<section class="fullbox" id="law-register-left">
	<p>
        Help the New Zealand community by sharing your legal knowledge.
        Put up your hand to become a LawSpot member today!
    </p>

	<div id="law-register-image-top"></div>
    <div id="law-register-image"></div>

    <h3> Be a part of an exciting new online movement </h3>

    <p>
        The world is going digital, so why shouldn’t the law? Think how far we’ve come since
        electronic legal databases were introduced - imagine doing research without them! We now
        take for granted the technology we use everyday, but imagine being a part of the next new
        legal innovation: online legal Q&A. Join LawSpot and be a part of the Next Big Thing.
    </p>

    <h3> Give back </h3>

    <p>
        Not everyone has a law degree. Becoming a LawSpot Member means you’re making the law that
        much more accessible to the general public. You’re also helping to channel demand for
        community legal services by freeing up community law centres to deal with more challenging
        and complex legal issues face-to-face with clients.
    </p>

    <h3> Network with other Members </h3>

    <p>
        By becoming a Member, you’ll join a team of like-minded LawSpot lawyers whom you otherwise
        may not have met. Although it’s early days, we’re looking to organise social events and
        provide networking opportunities for our Members.
    </p>

    <div style="clear: both"></div>
</section>