#law-register-left {
	padding: 10px 0;
}
#law-register-left p, #law-register-left h3 {
	padding-left: 20px;
}
#law-register-image-top {
	display: block;
	background: url(/views/account/lawyerregister/handsup-top.png) no-repeat;
	height: 36px;
	margin-top: -10px;
}
#law-register-image {
	display: block;
	background: #D7D7D7 url(/views/account/lawyerregister/handsup.jpg) no-repeat;
	height: 142px;
}

#law-register-header {
	color: #fff;
	background: url(/views/account/lawyerregister/law-register-header.png) no-repeat;
	height: 50px;
	display: block;
	margin-top: 0;
	text-align: center;
	padding-top: 15px;
	line-height: 20px;
	font-weight: normal;
	font-size: 18pt;
	text-shadow: 1px 1px 2px #111;
}
#law-register-form {
	background: #D8E5DF;
	border: none;
	width: 450px;
	float: right;
	padding: 0;
	margin: 25px 20px 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 8px #888;
	background: -moz-radial-gradient(center, ellipse cover, rgba(245,242,233,1) 0%, rgba(216,229,223,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(245,242,233,1)), color-stop(100%,rgba(216,229,223,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(245,242,233,1) 0%,rgba(216,229,223,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(245,242,233,1) 0%, rgba(216,229,223,1) 100%);
	background: radial-gradient(center, ellipse cover, rgba(245,242,233,1) 0%, rgba(216,229,223,1) 100%);
}
#law-register-form-content {
    padding: 0 10px;
}
#law-register-form .field-label {
	width: 204px;
}
#law-register-form .offset-field {
	margin-left: 214px;
}
#law-register-form input, #law-register-form select {
	width: 210px;
}
#FirstName {
	margin-right: 10px;
}
#law-register-form #FirstName, #law-register-form #LastName {
	width: 100px;
}
#law-register-form #FirstName {
	margin-right: 6px;
}
#law-register-form input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;
}

#canPublishMessage, #canNotPublishMessage {
    display: none;
    clear: both;
    margin: 32px 0 12px;
    color: black;
    font-size: 10pt;
}
#canPublishMessage img, #canNotPublishMessage img {
    vertical-align: text-top;
}

.privacy-message {
    font-size: 10pt;
    text-align: left;
    margin: 0;
}
.privacy-message img {
    float: left;
    margin: 0 10px 0 15px;
    width: 22px;
    height: 27px;
}