{{Model Lawspot.Views.Browse.QuestionPageViewModel}}

<section class="sidebar">
    <div class="ask-sidebar">
        <form method="get" action="/ask">
            <input name="category" type="hidden" value="{{CategoryId}}" />
            <input name="title" class="ask-textbox" type="text" placeholder="Ask your question here..." maxlength="150" />
            <button type="submit" class="ask-button">ASK</button>
        </form>
    </div>

    {{^User}}
        <section>
            <h2> Are you a lawyer? </h2>
            <img class="lawyer" src="/views/browse/lawyer.png" />
            <p>
                Help the community and grow your practice!
                <a href="/lawyer-register">Find out how.</a>
            </p>
            <p>
                Already registered?  <a href="/login">Login here</a>.
            </p>
        </section>
    {{/User}}
    
    {{#User.CanAnswerQuestions}}
        <section class="fixed-widget">
            <h2>How does LawSpot work?</h2>
            <img class="lawyer" src="/views/browse/question-whiteman.jpg" />
            <p>
                LawSpot allows members of the public, like you, to ask questions about NZ law and lawyer volunteers will answer them for free. <a href="/how-it-works">Read more.</a>
            </p>
        </section>
    {{/User.CanAnswerQuestions}}

    <section>
        <h2> Browse by Category </h2>
        <ul class="categories">
            {{#TopCategories1}}
                <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
            {{/TopCategories1}}
        </ul>
        <ul class="categories">
            {{#TopCategories2}}
                <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
            {{/TopCategories2}}
        </ul>
        <div class="see-all-categories"><a href="/browse">See all categories...</a></div>
        <div style="clear: left"></div>
    </section>
</section>

<div id="breadcrumb">
    <a href="/home">Home</a> &gt;
    <a href="{{CategoryUrl}}">{{CategoryName}}</a> &gt;
    Questions and answers
</div>

<section class="content-left">
	<section>
		<img src="/views/browse/question/question.png" class="ask-avatar" width="68" height="98" alt="" />
		<div class="speech question">
			<h1>{{Title}}</h1>
			<p><strong>Question Details:</strong> {{{DetailsHtml}}}</p>
			<p class="postdata">Asked {{CreationDate}} under <a href="{{CategoryUrl}}">{{CategoryName}}</a> | {{Views}} View(s)</p>
		</div>
	
		<div id="qa-account-answer">
            {{#User.CanAnswerQuestions}}
			    <!-- The user can answer questions -->
                <form method="get" action="/admin/answer-questions">
                    <input type="hidden" name="questionId" value="{{QuestionId}}" />
			        <button type="submit">Answer this Question</button>
                </form>
            {{/User.CanAnswerQuestions}}
            {{^User}}
			    <!-- Logged out -->
			    <p class="large-text">Are you a lawyer? <a href="/login">Login</a> or <a href="/lawyer-register">register</a> to answer this question.</p>
            {{/User}}
		</div>
	</section>
	
	<section id="qa-answers">
		<h2 class="underline">Answers by Lawyers</h2>
		
        {{#Answers}}
		    <article>
			    <div class="qa-lawyer-profile">
				    <img src="/views/browse/question/answer.png" width="76" height="119" alt="" />
                    Community Law Wellington & Hutt Valley
			    </div>
			    <div class="speech answer">
				    <p>{{{DetailsHtml}}}</p>
				    <p class="notice">The <strong class="orange-text">IMPORTANT NOTICE</strong> below is part of this answer.</p>
			    </div>
		    </article>
        {{/Answers}}
        {{^Answers}}
            <p> None yet. </p>
        {{/Answers}}
	</section>
</section>

<section id="qa-notice">
	<p>
        <strong class="orange-text">IMPORTANT NOTICE:</strong>
        The answer provided above is intended for general informational
        purposes only and cannot be considered a substitute for face-to-face legal advice. It
        should not be relied upon as the sole basis for taking action in relation to a legal issue.
        Laws change frequently, and small variations in the facts, or a fact not provided in the
        question, can often change a legal outcome or a lawyer’s conclusion. No liability
        whatsoever is accepted by the authors or publishers of the answer, for loss, damage or
        inconvenience arising in any way from the use of this site. Although LawSpot has
        verified that each lawyer volunteer holds a current practising certificate, he or she
        may not necessarily have experience in the particular area of law involved. <br />
        <br />
        For more information about this website, please review our <a href="/terms">
        Terms of Use</a>.
    </p>
</section>