{{Model Lawspot.Views.Admin.AnswerQuestionsViewModel}}

<h1>Answer Questions</h1>
	            
<form method="get" class="filter-form">
    <div class="sort">
        Sort By
        <select id="sort-drop-down" name="sort" onchange="this.form.submit()">
            {{#SortOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/SortOptions}}
        </select>
    </div>
    <div class="filter">
	    Show
	    <select id="filter-drop-down" name="filter" onchange="this.form.submit()">
            {{#FilterOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/FilterOptions}}
	    </select>
    </div>
    <div class="category">
	    View questions asked in
	    <select id="category-drop-down" name="category" onchange="this.form.submit()">
            {{#CategoryOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/CategoryOptions}}
	    </select>
    </div>
</form>

{{! Page numbers }}
{{#Questions}}
    {{#ShowPageLabels}}
        <div class="page-numbers">
            {{#HasPrevious}}
                <a class="button" href="{{PreviousUri}}">Previous</a>
            {{/HasPrevious}}
            {{^HasPrevious}}
                <span class="button disabled">Previous</span>
            {{/HasPrevious}}
            {{#PageLabels}}
                {{#NavigateUri}}
                    <a class="button" href="{{NavigateUri}}">{{Text}}</a>
                {{/NavigateUri}}
                {{#IsCurrentPage}}
                    <span class="button current-page">{{Text}}</span>
                {{/IsCurrentPage}}
                {{#IsEllipsis}}
                    <span class="ellipsis">{{Text}}</span>
                {{/IsEllipsis}}
            {{/PageLabels}}
            {{#HasNext}}
                <a class="button" href="{{NextUri}}">Next</a>
            {{/HasNext}}
            {{^HasNext}}
                <span class="button disabled">Next</span>
            {{/HasNext}}
        </div>
    {{/ShowPageLabels}}
{{/Questions}}

<div>
    {{#Questions.Items}}
	    <article class="question-container">
	        <img class="left" src="/views/admin/answerquestions/question-icon.png" width="27" height="19" alt="" />
	        <div class="question-header">
	            <a href="#">{{Title}}</a><br />
                <span class="question-time">{{DateAndTime}}</span>
                <span class="question-category">{{CategoryName}}</span>
	        </div>
            <div class="inner-content"></div>
	    </article>
    {{/Questions.Items}}
</div>

{{^Questions.Items}}
    <p>There are no questions that meet your criteria.</p>
{{/Questions.Items}}

<p id="no-more-questions" style="display: none">
    You have dealt with all the questions on this page.  <a href="javascript:window.location.reload()">Refresh the page</a> to see if there any more.
</p>

{{! Change the mustache set delimiter so that tags within the templates are not replaced }}
{{=** **=}}

<script id="answer-template" type="text/template">
    <form>
	    <p>
            <strong>Question description:</strong><br />
	        {{Details}}
        </p>
	    <strong>Your Answer:</strong><br />
	    <textarea name="LawyerAnswer"></textarea><br />
        <div class="validation-error"></div>
        <div class="reservation-warning">
            <img src="/shared/images/warning.png" alt="Warning" />
            Another lawyer is answering this question.
        </div>
	    <p>
            <small>
                Your answer will be screened by a legally qualified Wellington Community Law
                Centre (WCLC) supervisor before it is published online. The supervisor may modify
                or rewrite your answer, or reject it outright. When approved, the answer will be
                published under the name of the WCLC, not under your own name. In addition, this
                <a href="#" class="important-notice-link">Important Notice</a> will appear as part
                of your answer, to make clear to the user the answer’s limitations.
            </small>
        </p>
        <p class="important-notice">
            IMPORTANT NOTICE: The answer provided above is intended for general informational
            purposes only and cannot be considered a substitute for face-to-face legal advice. It
            should not be relied upon as the sole basis for taking action in relation to a legal
            issue. Laws change frequently, and small variations in the facts, or a fact not
            provided in the question, can often change a legal outcome or a lawyer’s conclusion. No
            liability whatsoever is accepted by the authors or publishers of the answer, for loss,
            damage or inconvenience arising in any way from the use of this site. Although LawSpot
            has verified that each lawyer volunteer holds a current practising certificate, he or
            she may not necessarily have experience in the particular area of law involved. <br />
            <br />
            For more information about this website, please review our <a href="/terms">
            Terms of Use</a>.
        <p>

	    <div class="centre">
	        <button>SUBMIT</button>
            <img class="progress-indicator" src="/shared/images/progress-indicator.gif" />
	    </div>
	</form>
</script>

<script id="success-template" type="text/template">
    <article class="answered">
	    <img class="left" src="/views/admin/answerquestions/answered.png" width="26" height="26" alt="" />
	    <h3>Thanks! You've just answered a question.</h3>
	    <p>
            <strong>Question:</strong><br />
	        {{Title}}
        </p>
	    <p>
            <strong>Answer:</strong><br />
	        {{{AnswerHtml}}}
        </p>
	    <div class="centre">
	        <button>NEXT QUESTION</button>
	    </div>
	</article>
</script>