{{Model Lawspot.Views.Admin.AccountSettingsViewModel}}

<h1> Account Settings </h1>

<div class="section {{#ExpandEmailAddressSection}}expanded{{/ExpandEmailAddressSection}}">
    <a class="change" href="#">Change</a>
    <a class="hide" href="#">Hide</a>          
    <h2> Email Address </h2>
    <hr />
    <div class="current-value">{{EmailAddress}}</div>
    <div class="description"> Change your email address. </div>
    <div class="edit">
        <form method="post">
            <input type="hidden" name="selector" value="email" />
            <div class="field-label">
                <label for="email-address">Email Address:</label>
            </div>
            <div class="offset-field">
                <input id="email-address" name="EmailAddress" type="text" value="{{EmailAddress}}" {{#ExpandEmailAddressSection}}autofocus{{/ExpandEmailAddressSection}} />
                <div class="validation-error">{{ModelState.EmailAddress}}</div>
            </div>
            <div class="offset-field">
                <button type="submit">CHANGE EMAIL ADDRESS</button>
            </div>
        </form>
    </div>
</div>

<div class="section {{#ExpandPasswordSection}}expanded{{/ExpandPasswordSection}}">
    <a class="change" href="#">Change</a>
    <a class="hide" href="#">Hide</a>          
    <h2> Password </h2>
    <hr />
    <div class="current-value"></div>
    <div class="description"> Change your password. </div>
    <div class="edit">
        <form method="post">
            <input type="hidden" name="selector" value="password" />
            <div class="field-label">
                <label for="password">Password:</label>
            </div>
            <div class="offset-field">
                <input id="password" name="Password" type="password" value="" {{#ExpandPasswordSection}}autofocus{{/ExpandPasswordSection}} />
                <div class="validation-error">{{ModelState.Password}}</div>
            </div>
            <div class="field-label">
                <label for="confirm-password">Confirm Password:</label>
            </div>
            <div class="offset-field">
                <input id="confirm-password" name="ConfirmPassword" type="password" value="" />
                <div class="validation-error">{{ModelState.ConfirmPassword}}</div>
            </div>
            <div class="offset-field">
                <button type="submit">CHANGE PASSWORD</button>
            </div>
        </form>
    </div>
</div>

<div class="section {{#ExpandNameSection}}expanded{{/ExpandNameSection}}">
    <a class="change" href="#">Change</a>
    <a class="hide" href="#">Hide</a>
    <h2> Name </h2>
    <hr />
    <div class="current-value">{{FirstName}} {{LastName}}</div>
    <div class="description"> Change your name. </div>
    <div class="edit">
        <form method="post">
            <input type="hidden" name="selector" value="name" />
            <div class="field-label">
                <label for="first-name">Name:</label>
            </div>
            <div class="offset-field">
                <input id="first-name" name="FirstName" type="text" value="{{FirstName}}" placeholder="First Name" {{#ExpandNameSection}}autofocus{{/ExpandNameSection}} />
                <input id="last-name" name="LastName" type="text" value="{{LastName}}" placeholder="Last Name" />
                <div class="validation-error">{{ModelState.FirstName}}</div>
                <div class="validation-error">{{ModelState.LastName}}</div>
            </div>
            <div class="offset-field">
                <button type="submit">CHANGE NAME</button>
            </div>
        </form>
    </div>
</div>

<div class="section {{#ExpandRegionSection}}expanded{{/ExpandRegionSection}}">
    <a class="change" href="#">Change</a>
    <a class="hide" href="#">Hide</a>   
    <h2> Region </h2>
    <hr />
    <div class="current-value"> {{RegionName}} </div>
    <div class="description"> Change your location. </div>
    <div class="edit">
        <form method="post">
            <input type="hidden" name="selector" value="region" />
            <div class="field-label">
                <label for="region">Region:</label>
            </div>
            <div class="offset-field">
                <select id="region" name="RegionId" {{#ExpandRegionSection}}autofocus{{/ExpandRegionSection}}>
                    {{#Regions}}
                        <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
                    {{/Regions}}
                </select>
                <div class="validation-error">{{ModelState.RegionId}}</div>
            </div>
            <div class="offset-field">
                <button type="submit">CHANGE REGION</button>
            </div>
        </form>
    </div>
</div>