{{Model Lawspot.Views.Browse.SearchPageViewModel}}

<h1> Search Results </h1>

<div class="search-form">
    <form method="get">
        <input name="query" type="text" value="{{Query}}" placeholder="Enter your search query here..."
         maxlength="150" autofocus /><button type="submit">SEARCH</button>
    </form>
</div>

{{#Hits.Items}}

    <div class="search-result">
        <div class="title">
            <a href="{{Uri}}">{{{TitleHtml}}}</a>
        </div>
        <div class="details">
            {{{HighlightsHtml}}}
        </div>
        <div class="answered">
            Answered {{AnsweredOn}} | {{AnswerCount}}
        </div>
    </div>

{{/Hits.Items}}
{{^Hits.Items}}

    <p> No results were found.  Try a more general query. </p>

{{/Hits.Items}}