{{Model Lawspot.Views.Account.ForgotPasswordViewModel}}

<h1> Forgotten Your Password? </h1>

<p>
    <img src="/shared/images/success.png" alt="success" style="float: left; padding-right: 20px" />

    An email has been sent to {{EmailAddress}}.  It should arrive within a few minutes.
    Please check your email and click the link within the email to verify your ownership
    of this account.  
</p>

<p>
    If the email doesn't arrive, first check that it hasn't gone to your spam folder.
    Otherwise, contact <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz
    </a> for help with this problem.
</p>