{{Model Lawspot.Views.Browse.CategoryPageViewModel}}

<section class="sidebar">
<div class="laptop">
    <img src="/views/browse/home/laptop.png" />
</div>

    {{^User}}
        <section>
            <h2> Are you a lawyer? </h2>
            <img class="lawyer" src="/views/browse/lawyer.png" />
            <p>
                Help the community and grow your practice!
                <a href="/lawyer-register">Find out how.</a>
            </p>
            <p>
                Already registered?  <a href="/login">Login here</a>.
            </p>
        </section>
    {{/User}}
    
    {{#User.CanAnswerQuestions}}
        <section class="fixed-widget">
            <h2>How does LawSpot work?</h2>
            <img class="lawyer" src="/views/browse/question-whiteman.jpg" />
            <p>
                LawSpot allows members of the public, like you, to ask questions about NZ law and lawyer volunteers will answer them for free. <a href="/how-it-works">Read more.</a>
            </p>
        </section>
    {{/User.CanAnswerQuestions}}

    <section>
        <h2> Browse by Category </h2>
        <ul class="categories">
            {{#TopCategories1}}
                <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
            {{/TopCategories1}}
        </ul>
        <ul class="categories">
            {{#TopCategories2}}
                <li> <a href="{{Uri}}">{{Name}}</a> ({{QuestionCount}}) </li>
            {{/TopCategories2}}
        </ul>
        <div class="see-all-categories"><a href="/browse">See all categories...</a></div>
        <div style="clear: left"></div>
    </section>
    
    <section>
        <h2>Most viewed Q&A</h2>
        <ul class="list-arrows">
            {{#MostViewedQuestions}}
        	    <li><a href="{{Url}}">{{Title}}</a></li>
            {{/MostViewedQuestions}}
        </ul>
    </section>
    
</section>

<div id="breadcrumb">
    <a href="/home">Home</a> &gt;
    {{Name}}
</div>

<h1> Ask About {{Name}} </h1>

<p> Got a legal question? Ask a lawyer for free, no obligation. </p>

<div class="ask">
    <form method="get" action="/ask">
        <input name="category" type="hidden" value="{{CategoryId}}" />
        <input name="title" class="ask-textbox" type="text" placeholder="Ask your question here..." maxlength="150" />
        <button type="submit" class="ask-button">ASK</button>
    </form>
</div>

<h2> {{Name}} Questions and Answers</h2>

{{#RecentAnswers.Items}}
    <div class="question">
        <div class="title">
            <a href="{{Uri}}">{{Title}}</a>
        </div>
        <div class="details">
            {{Details}}
        </div>
        <div class="asked">
            {{AnsweredBy}} answered {{AnsweredTime}}
        </div>
    </div>
{{/RecentAnswers.Items}}
{{^RecentAnswers.Items}}
    <p> None yet. </p>
{{/RecentAnswers.Items}}

{{! Page numbers }}
{{#RecentAnswers}}
    {{#ShowPageLabels}}
        <div class="page-numbers">
            {{#HasPrevious}}
                <a class="button" href="{{PreviousUri}}">Previous</a>
            {{/HasPrevious}}
            {{^HasPrevious}}
                <span class="button disabled">Previous</span>
            {{/HasPrevious}}
            {{#PageLabels}}
                {{#NavigateUri}}
                    <a class="button" href="{{NavigateUri}}">{{Text}}</a>
                {{/NavigateUri}}
                {{#IsCurrentPage}}
                    <span class="button current-page">{{Text}}</span>
                {{/IsCurrentPage}}
                {{#IsEllipsis}}
                    <span class="ellipsis">{{Text}}</span>
                {{/IsEllipsis}}
            {{/PageLabels}}
            {{#HasNext}}
                <a class="button" href="{{NextUri}}">Next</a>
            {{/HasNext}}
            {{^HasNext}}
                <span class="button disabled">Next</span>
            {{/HasNext}}
        </div>
    {{/ShowPageLabels}}
{{/RecentAnswers}}