<section class="sidebar">
    {{^User}}
        <section>
            <h2> Are you a lawyer? </h2>
            <img class="lawyer" src="/views/browse/lawyer.png" />
            <p>
                Help the community and grow your practice!
                <a href="/lawyer-register">Find out how.</a>
            </p>
            <p>
                Already registered?  <a href="/login">Login here</a>.
            </p>
        </section>
    {{/User}}

    <section>
        <h2> Top legal categories </h2>
        <ul class="categories">
            {{#TopCategories1}}
                <li> <a href="{{Uri}}">{{Name}}</a> </li>
            {{/TopCategories1}}
        </ul>
        <ul class="categories">
            {{#TopCategories2}}
                <li> <a href="{{Uri}}">{{Name}}</a> </li>
            {{/TopCategories2}}
        </ul>
        <div style="clear: left"></div>
        <div class="categories-all"><a href="#">See all categories...</a></div>
    </section>
</section>

<div id="breadcrumb">
    <a href="/home">Home</a> &gt;
    {{Name}}
</div>

<h1> Ask About {{Name}} </h1>

<p> Tagline. </p>

<div class="ask">
    <form method="get" action="/ask">
        <input name="category" type="hidden" value="{{CategoryId}}" />
        <input name="title" class="ask-textbox" type="text" placeholder="Ask your question here..." maxlength="150" />
        <button class="ask-button">ASK</button>
    </form>
</div>

<h2> New {{Name}} Questions and Answers</h2>

{{#RecentAnswers}}
    <div class="question">
        <div class="frame">
            <img src="{{AvatarUri}}" />
        </div>
        
        <div class="body">
            <div class="title">
                <a href="{{Uri}}">{{Title}}</a>
            </div>
            <div class="details">
                {{Details}}
            </div>
            <div class="asked">
                {{AnsweredBy}} answered {{AnsweredHoursAgo}} ago
            </div>
        </div>
        <div style="clear: left"></div>
    </div>
{{/RecentAnswers}}
{{^RecentAnswers}}
    <p> None yet. </p>
{{/RecentAnswers}}

<h2> Most Viewed {{Name}} Questions and Answers </h2>

<ul class="list-arrows">
    {{#MostViewedQuestions}}
	    <li><a href="{{Url}}">{{Title}}</a><br />
		    <span class="mv-poststats">{{AnswerCount}} | {{ViewCount}}</span></li>
    {{/MostViewedQuestions}}
</ul>

{{^MostViewedQuestions}}
    <p> None yet. </p>
{{/MostViewedQuestions}}