<h1>About LawSpot</h1>
            
<p>
    LawSpot is a free online legal Q&A service.
</p>

<p>
    Our purpose is to make the law more accessible to all New Zealanders. We do this by getting
    you, the user, to post up your question about New Zealand law on our website. A lawyer
    volunteer will then answer your question, free of charge, and LawSpot publishes the answer in
    a searchable Q&amp;A database - how’s that for accessible?
</p>

<p>
    But it’s early days yet…LawSpot is currently being piloted in the Wellington region. 
</p>

<p>
    LawSpot was founded in partnership with Community Law Wellington and Hutt Valley.  LawSpot is
    now partnering with law firms and lawyers, some of whom publish answers.
    Please see our <a href="/partner">partnerships</a> page for details of LawSpot's partners.
</p>

<p>
    We’d still love to hear from anyone interested in being involved, so contact
    <a href="&#109;ailto&#58;recruitment&#64;lawspot.org.nz">recruitment&#64;lawspot.org.nz</a>
    if you want to know more about joining the LawSpot team.
</p>
            
<ul class="contents">
    <li><a href="#trustees">Board of Trustees</a></li>
    <li><a href="#executive">Executive Team</a></li>
    <li><a href="#patron">Our Patron</a></li>
    <li><a href="#founders">LawSpot Founders</a></li>
</ul>
            
<div id="aboutus">
   
    <h2 id="trustees"> Board of Trustees </h2>

    <h3>Chairman: James Every-Palmer <em>Barrister at Stout Street Chambers</em></h3>
    <h3>Secretary: James Whitaker <em>Head of Brand & Engagement at NZ Police</em></h3>
    <h3>Treasurer: Vince Betham <em>Finance/Business Development at Trade Me</em></h3>
    <h3>Maya Pan <em>Product Marketing Manager at Facebook</em></h3>
    <h3>Nick Mereu <em>Legal Counsel at Insurance Council of NZ</em></h3>
    <h3>Paul Bartrum <em>Developer at Trade Me</em></h3>
    <br />

    <h2 id="executive"> Executive Team </h2>
    
    <img src="/views/static/aboutus/Nick.jpg" alt="Nick Mereu" />
    <h3>Nick Mereu <em>CEO</em></h3>
    <p>
        Nick is a lawyer who spends his days representing the insurance industry.
        He is rumoured to sleep with a copy of the Community Law Manual under his pillow and
        carries an arsenal of facts about pandas to share during opportune lulls in conversation.
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Paul.jpg" alt="Paul Bartrum" />
	<h3>Paul Bartrum <em>Head of Technology</em></h3>
	<p>
        Paul is LawSpot’s web developer ninja. He works in the Development Team at Trade Me, and
        recently helped set up the Treat Me daily deals site and the Treat Me Now mobile app. Paul
        eats dessert first. And second. And third. He has a thing for jaffa cakes (don’t ask).
    </p>
    <div style="clear:right;"></div>

    <img src="/views/static/aboutus/Christine.jpg" alt="Christine Anderson" />
    <h3>Christine Anderson <em>Head of Administration</em></h3>
    <p>
        By day, Christine is a law student at Victoria University, and by night, a legal secretary
        at Buddle Findlay. Inbetween times she can be found using her experience by assisting
        Lawspot as Head of Administration; and is fueled by an addiction to peanut butter and
        anything caffeinated.  
    </p>
    <div style="clear:right;"></div>
   
    <img src="/views/static/aboutus/Matt.jpg" alt="Matt Comery" />
    <h3>Matt Comery <em>Head of Partnerships</em></h3>
    <p>
      Matt is a high-flying government lawyer who loves enjoying the outdoors in his spare time.
        Whether it's hitting the tramping tracks, completing half-ironmans or marathons, Matt is
        into it hammer and thongs. 
    </p>
    <div style="clear:right;"></div>

    <img src="/views/static/aboutus/Natalie.jpg" alt="Natalie Marshall" />
    <h3>Natalie Marshall <em>Head of Vetting</em></h3>
    <p>
        &nbsp;
    </p>
    <div style="clear:right;"></div>

    <img src="/views/static/aboutus/Luke.jpg" alt="Luke Archer" />
    <h3>Luke Archer <em>Executive Board Member</em></h3>
    <p>
        Luke is currently a tutor at Victoria University and will soon be moving into a graduate
        role with a commercial law firm. He enjoys long lunches, pub quizzes, binge-watching TV
        shows and bottomless cups of coffee!
    </p>
    <div style="clear:right;"></div>


    <h2 id="patron"> Our Patron </h2>

    <img src="/views/static/aboutus/margaret-wilson.png" alt="Margaret Wilson" />
    <h3> Hon Margaret Wilson DCNZM </h3>
    <p>
        LawSpot is thrilled to have Margaret Wilson as its patron. Margaret has had an extensive
        career in public service and is a former Attorney-General and Speaker of the New Zealand
        House of Representatives. She is a Professor of Law and the founding Dean of Law at the
        University of Waikato. Margaret believes strongly in advocating for social justice and
        would like to see New Zealand law made more accessible and understandable. She thoroughly
        enjoys reading thriller novels.
    </p>
    <br/>

    <h2 id="founders">LawSpot Founders</h2>

    <img src="/views/static/aboutus/Maya.jpg" alt="Maya Pan" />
    <h3>Maya Pan <em>Co-Founder</em></h3>
    <p>
        Co-founder Maya was a solicitor at top New Zealand corporate law firm, Russell McVeagh. She has just left Wellington and moved to Stanford to join her fiance, Bowen, and to scope out international collaborative opportunities for LawSpot. Maya is very fond of, but highly allergic to, cats.
    </p>
    <div style="clear:right;"></div>

    <img src="/views/static/aboutus/Bowen.jpg" alt="Bowen Pan" />
    <h3>Bowen Pan <em>Co-Founder</em></h3>
    <p>
        Co-founder Bowen is a serial technology entrepreneur (no, it’s not some kind of breakfast
        food). He is also the former head of Treat Me product and marketing at Trade Me. Bowen is
        about to embark upon a MBA at Stanford University. He likes karaoke – a little too much,
        some would say.
    </p>
    <div style="clear:right;"></div>

    <img src="/views/static/aboutus/Geoff.jpg" alt="Geoffrey Roberts" />
    <h3>Geoffrey Roberts <em>Foundation Partner</em></h3>
    <p>
        Geoffrey is the General Manager of Community Law Wellington & Hutt Valley. A non-lawyer
        surrounded by lawyers all day, Geoffrey understands the importance of reminding lawyers to
        communicate in a way that other humans can understand. Geoffrey is also the co-convener of
        the Coalition of Community Law Centres Aotearoa – a support body for Community Law Centres.
    </p>
    <div style="clear:right;"></div>
</div>
