<h1>About LawSpot</h1>
            
<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
            
<ul class="contents">
    <li><a href="#management">Management Team</a></li>
    <li><a href="#patron">Our Patron</a></li>
</ul>
            
<div id="aboutus">
    <a name="management"></a>
	<h2>Management Team</h2>
	            
	<h3>Maya Shino <em>CEO</em></h3>
	<p>
        Co-founder Maya is a solicitor by day, and the CEO of LawSpot by, er, later in the day.
        Maya works at Russell McVeagh, a top-tier corporate law firm. She is passionate about using
        technology to increase access to the law. Maya is very fond of, but highly allergic to,
        cats.
    </p>
	            
	<h3>Bowen Pan <em>Co-Founder</em></h3>
	<p>
        Co-founder Bowen is a serial technology entrepreneur (no, it’s not some kind of breakfast
        food). He is also the former head of Treat Me product and marketing at Trade Me. Bowen is
        about to embark upon a MBA at Stanford University. He likes karaoke – a little too much,
        some would say.
    </p>
     
	<h3>Elizabeth Chan <em>Head of Partnerships</em></h3>
	<p>
        Lizzie is perfect for the Head of Partnerships role, as she has several years of experience
        working closely with student and community organisations. She gets her energy from a
        serious addiction to chocolate, and from her passion for empowering people to help
        themselves. Lizzie is a judge’s clerk at the Supreme Court and the current National
        President of UN Youth New Zealand.
    </p>
	            
	<h3>Paul Bartrum <em>Head of Technology</em></h3>
	<p>
        Paul is LawSpot’s web developer ninja. He works in the Development Team at Trade Me, and
        recently helped set up the Treat Me daily deals site and the Treat Me Now mobile app. Paul
        eats dessert first. And second. And third. He has a thing for jaffa cakes (don’t ask).
    </p>
	            
	<h3>Cheryl Sun <em>Head of Product</em></h3>
	<p>
        Cheryl is a web designer and developer. And a lawyer too! She is currently studying towards
        a Masters in Law from the University of Edinburgh. As LawSpot’s Head of Product, Cheryl is
        responsible for keeping the site looking super swish and easy to use. You wouldn’t pick it,
        but Cheryl is also a World of Warcraft enthusiast and cannot wait for Diablo 3.
    </p>

    <h3>James Whitaker <em>Head of Marketing</em></h3>
	<p>
        James is the voice of LawSpot. He manages all of LawSpot’s marketing and social media.
        James is the current Marketing Manager at Trade Me (noticing a theme here?) Previously, he
        was a Marketing Manager for the New Zealand Police, heading the “Get better work stories”
        recruitment campaign. Outside of work, James enjoys surfing, fishing and spending time with
        his three daughters.
    </p>
	            
	<a name="patron"></a>
	<h2> Our Patron </h2>
	
    <img src="/views/static/aboutus/margaret-wilson.png" alt="Margaret Wilson" />

	<h3> Hon Margaret Wilson DCNZM </h3>
	
    <p>
        LawSpot is thrilled to have Margaret Wilson as its patron. Margaret has had an extensive
        career in public service and is a former Attorney-General and Speaker of the New Zealand
        House of Representatives. She is a Professor of Law and the founding Dean of Law at the
        University of Waikato. Margaret believes strongly in advocating for social justice and
        would like to see New Zealand law made more accessible and understandable. She thoroughly
        enjoys reading thriller novels.
    </p>
</div>