<h1>About LawSpot</h1>
            
<p>
    LawSpot is a free online legal Q&A service.
</p>

<p>
    Our purpose is to make the law more accessible to all New Zealanders. We do this by getting
    you, the user, to post up your question about New Zealand law on our website. A lawyer
    volunteer will then answer your question, free of charge, and LawSpot publishes the answer in
    a searchable Q&A database - how’s that for accessible?
</p>

<p>
    But it’s early days yet…LawSpot is currently being piloted in the Wellington region. This means
    that all questions will be answered by Wellington lawyers, under the supervision of the
    Community Law Wellington & Hutt Valley. Of course, because it’s online you can submit a question from
    anywhere, but it will be another couple of months before we bring on board lawyers from other
    regions. We’d still love to hear from anyone interested in being involved, so contact
    <a href="&#109;ailto&#58;recruitment&#64;lawspot.org.nz">recruitment&#64;lawspot.org.nz</a>
    if you want to know more about joining the LawSpot team.
</p>
            
<ul class="contents">
    <li><a href="#founders">LawSpot Founders</a></li>
    <li><a href="#wclc">Community Law Wellington and Hutt Valley</a></li>
    <li><a href="#patron">Our Patron</a></li>
    <li><a href="#executive">Executive Team</a></li>
    <li><a href="#trustees">Board of Trustees</a></li>
</ul>
            
<div id="aboutus">
	<h2 id="founders">LawSpot Founders</h2>
	
	<img src="/views/static/aboutus/Maya.jpg" alt="Maya Shino" />
	<h3>Maya Shino <em>Co-Founder</em></h3>
	<p>
        Co-founder Maya is a solicitor by day, and the CEO of LawSpot by, er, later in the day.
        Maya works at Russell McVeagh, a top-tier corporate law firm. She is passionate about using
        technology to increase access to the law. Maya is very fond of, but highly allergic to,
        cats.
    </p>
    <div style="clear:right;"></div>
	
	<img src="/views/static/aboutus/Bowen.jpg" alt="Bowen Pan" />
	<h3>Bowen Pan <em>Co-Founder</em></h3>
	<p>
        Co-founder Bowen is a serial technology entrepreneur (no, it’s not some kind of breakfast
        food). He is also the former head of Treat Me product and marketing at Trade Me. Bowen is
        about to embark upon a MBA at Stanford University. He likes karaoke – a little too much,
        some would say.
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Geoff.jpg" alt="Geoffrey Roberts" />
	<h3>Geoffrey Roberts <em>Foundation Partner</em></h3>
	<p>
        Geoffrey is the General Manager of Community Law Wellington & Hutt Valley. A non-lawyer
        surrounded by lawyers all day, Geoffrey understands the importance of reminding lawyers to
        communicate in a way that other humans can understand. Geoffrey is also the co-convener of
        the Coalition of Community Law Centres Aotearoa – a support body for Community Law Centres.
    </p>
    <div style="clear:right;"></div>
    
    <h2 id="wclc">Community Law Wellington and Hutt Valley</h2>
    <p><a href="http://www.wclc.org.nz/">Community Law Wellington and Hutt Valley</a> provides community legal services to meet unmet legal needs.</p>
    
    <p>We provide initial legal information and advice to individuals, whānau, and community groups. We are also committed to informing and educating our community about legal rights and responsibilities. To do this, we produce a range of plain-English legal publications. We provide legal education on different topics and in different formats. And we are an active voice on law reform issues.</p>
    
    <p>By partnering with LawSpot, we hope to make clear legal assistance easily available online to those who need it and who feel at home online.</p>
    <p id="clclogo"><a href="http://www.wclc.org.nz/"><img src="/views/static/aboutus/clc-logo.png" alt="Community Law Wellington and Hutt Valley" /></a></p>
    
    <h2 id="patron"> Our Patron </h2>
    	
        <img src="/views/static/aboutus/margaret-wilson.png" alt="Margaret Wilson" />
    	<h3> Hon Margaret Wilson DCNZM </h3>
    	<p>
            LawSpot is thrilled to have Margaret Wilson as its patron. Margaret has had an extensive
            career in public service and is a former Attorney-General and Speaker of the New Zealand
            House of Representatives. She is a Professor of Law and the founding Dean of Law at the
            University of Waikato. Margaret believes strongly in advocating for social justice and
            would like to see New Zealand law made more accessible and understandable. She thoroughly
            enjoys reading thriller novels.
        </p>
    
    <h2 id="executive"> Executive Team </h2>
    
    <img src="/views/static/aboutus/Nick.jpg" alt="Nick Mereu" />
    <h3>Nick Mereu <em>CEO</em></h3>
    <p>
        Nick is a lawyer who spends his days resolving finance industry disputes out of court. He is rumoured to sleep with a copy of the Community Law Manual under his pillow and carries an arsenal of facts about pandas to share during opportune lulls in conversation.
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Lizzie.jpg" alt="Elizabeth Chan" />
    <h3>Elizabeth Chan <em>Head of Lawyer Liasion</em></h3>
	<p>
        Lizzie is perfect for the lawyer liaison role, as she has several years of experience working closely with volunteers and community organisations. She gets her energy from a serious addiction to chocolate, and from her passion for empowering people to help themselves. Lizzie is a judge’s clerk at the Supreme Court and is a former National President of UN Youth New Zealand.
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Paul.jpg" alt="Paul Bartrum" />
	<h3>Paul Bartrum <em>Head of Technology</em></h3>
	<p>
        Paul is LawSpot’s web developer ninja. He works in the Development Team at Trade Me, and recently helped set up the Treat Me daily deals site and the Treat Me Now mobile app. Paul eats dessert first. And second. And third. He has a thing for jaffa cakes (don’t ask).
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Cheryl.jpg" alt="Cheryl Sun" />
	<h3>Cheryl Sun <em>Head of Product</em></h3>
	<p>
        Cheryl is a web designer and developer. And a lawyer too! She is currently studying towards a Masters in Law from the University of Edinburgh. As LawSpot’s Head of Design, Cheryl is responsible for keeping the site looking super swish and easy to use. You wouldn’t pick it, but Cheryl is also a World of Warcraft enthusiast.
    </p>
    <div style="clear:right;"></div>
    
    <img src="/views/static/aboutus/Janet.jpg" alt="Janet Dick" />
    <h3>Janet Dick <em>Head of Fundraising</em></h3>
    <p>
        Janet is an Assistant Crown Counsel at the Crown Law Office. As Head of Fundraising here at LawSpot, it's her job to get charitable organisations as convinced as she is that LawSpot is a vital resource that deserves funding. Janet is a quiz night enthusiast, but definitely isn't a fan of lemonade popsicles.
    </p>
    <div style="clear:right;"></div>
    
    <h3>MC de la Paillone <em>Head of Community Outreach</em></h3>

    <h3>Anton Jackson-Smith <em>Head of Product</em></h3>
    
    <img src="/views/static/aboutus/Rosie.png" alt="Rosie Orsman" />
    <h3>Rosie Orsman <em>Head of Marketing</em></h3>
    <p>
    </p>
    <div style="clear:right;"></div>
    
    <h3>Laura Blumenthal <em>Head of Question Vetting</em></h3>
    <p>
        As Head of Question Vetting, Laura is the enthusiasm behind our perfectly answered questions. She has just completed her law degree and now works as a law clerk at DLA Phillips Fox.
    </p>

    <h2 id="trustees"> Board of Trustees </h2>
    
    <h3>James Whitaker <em>Marketing Manager at Trade Me</em></h3>
    <h3>Adam Thompson <em>Customer Investment Services, Public Trust</em></h3>
    <h3>James Every-Palmer <em>Partner at Russell McVeagh</em></h3>
    <h3>Dr Kathie Irwin <em>Chief Māori Advisor at the New Zealand Families Commission</em></h3>
    <h3>Vince Betham <em>Finance/Business Development at Trade Me</em></h3>
</div>