form.filter-area {
	margin: -45px 0 25px 0;
}
form.filter-area .sort {
	text-align: right;
	margin-bottom: 12px;
}
form.filter-area .filter {
	float: right;
}
#category-drop-down {
    margin-left: 5px;
	width: 230px;
}
#filter-drop-down {
    margin-left: 5px;
	width: 155px;
}
#sort-drop-down {
    margin-left: 5px;
	width: 155px;
}


#lawyers-list {
	width: 100%;
	margin-top: 20px;
}
#lawyers-list th {
	background-color: #C3C3C3;
	font-weight: bold;
	text-align: center;
	padding: 3px;
}
#lawyers-list td {
	padding: 3px;
	vertical-align: top;
}
#lawyers-list .name {
	width: 140px;
}
#lawyers-list .email {
	width: 220px;
}
#lawyers-list td.action {
	text-align: center;
}
#lawyers-list button {
	font-size: 7pt;
	font-weight: normal;
	padding: 2px;
	width: 50px;
	border-radius: 2px;
}
#lawyers-list .moredetail {
	font-size: 8pt;
}


#rejection-form {
    width: 654px;
	position: absolute;
	display: none;
    padding: 20px 40px 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	-webkit-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	background-color: #D8D1BC;
	color: #4A4632;
}

#rejection-form label {
    display: block;
    font-weight: bold;
}

#rejection-form textarea {
    width: 100%;
    margin: 10px 0 15px;
}

#rejection-form .rejection-reasons-container {
    float: right;
}

#rejection-form .rejection-reasons-container label {
    display: inline;
}

#rejection-form .rejection-reasons-container select {
    margin-left: 5px;
    width: 240px;
}

#rejection-form .reason-container {
    margin-top: 20px;
}

#rejection-form .button-row {
    text-align: center;
}

#rejection-form button.red {
    margin-right: 10px;
}

#rejection-form .progress-indicator {
    display: none;
    position: absolute;
    margin: 12px 0 0 20px;
}