{{Model Lawspot.Views.Admin.ReviewLawyersViewModel}}

<h1>Lawyer Volunteers</h1>
	            
<form method="get" class="filter-area">
    <div class="sort">
        Sort By
        <select id="sort-drop-down" name="sort" onchange="this.form.submit()">
            {{#SortOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/SortOptions}}
        </select>
    </div>
    <div class="filter">
	    Show Lawyers Who Are
	    <select id="filter-drop-down" name="filter" onchange="this.form.submit()">
            {{#FilterOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/FilterOptions}}
	    </select>
    </div>
    <div class="category">
	    Show Lawyers From
	    <select id="category-drop-down" name="category" onchange="this.form.submit()">
            {{#CategoryOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/CategoryOptions}}
	    </select>
    </div>
</form>

<table id="lawyers-list">
	<tr>
	    <th class="name">Name</th>
	    <th class="email">Email</th>
	    <th class="admitted">Year Admitted</th>
	    <th class="registered">Date Registered</th>
	    <th class="action">Action</th>
	</tr>
    {{#Lawyers}}
	    <tr class="lawyer-row">
	        <td>
                {{#Approved}}
                    <img src="/views/admin/reviewlawyers/icon-tick.jpg" width="15" height="15" alt="" />
                {{/Approved}}
                {{^Approved}}
                    <img src="/views/admin/reviewlawyers/icon-cross.jpg" width="15" height="15" alt="" />
                {{/Approved}}
                {{Name}}
            </td>
	        <td>{{EmailAddress}}</td>
	        <td>{{YearAdmitted}}</td>
	        <td>{{DateRegistered}}</td>
	        <td class="action">
	            <form>
	                <button>APPROVE</button>
	                <button class="red">REJECT</button>
	            </form>
	            <!-- <a href="#" class="moredetail">More Detail</a> -->
	        </td>
	    </tr>
    {{/Lawyers}}
</table>