{{Model Lawspot.Views.Admin.ReviewLawyersViewModel}}

<h1>Lawyer Volunteers</h1>
	            
<form method="get" class="filter-area">
    <div class="sort">
        Sort By
        <select id="sort-drop-down" name="sort" onchange="this.form.submit()">
            {{#SortOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/SortOptions}}
        </select>
    </div>
    <div class="filter">
	    Show Lawyers Who Are
	    <select id="filter-drop-down" name="filter" onchange="this.form.submit()">
            {{#FilterOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/FilterOptions}}
	    </select>
    </div>
    <div class="category">
	    Show Lawyers From
	    <select id="category-drop-down" name="category" onchange="this.form.submit()">
            {{#CategoryOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/CategoryOptions}}
	    </select>
    </div>
</form>

<form id="rejection-form">
    <div class="rejection-reasons-container">
        <label>Template</label>
        <select class="canned-rejection-reasons">
            {{#CannedRejectionReasons}}
                <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/CannedRejectionReasons}}
		</select>
    </div>

	<div class="reason-container">
		<label>Reason for rejection</label>
        <textarea rows="8" class="reason" placeholder="Enter your reason for rejecting the question here."></textarea>
	</div>

	<div class="button-row">
	    <button class="red" data-action="reject">REJECT</button>
        <button data-action="cancel">CANCEL</button>
        <img class="progress-indicator" src="/shared/images/progress-indicator.gif" />
	</div>
</form>

<table id="lawyers-list">
	<tr>
	    <th class="name">Name</th>
	    <th class="email">Email</th>
	    <th class="admitted">Year Admitted</th>
	    <th class="registered">Date Registered</th>
	    <th class="action">Action</th>
	</tr>
    {{#Lawyers}}
	    <tr class="lawyer-row">
	        <td>
                {{#Approved}}
                    <img src="/views/admin/reviewlawyers/icon-tick.jpg" width="15" height="15" alt="" />
                {{/Approved}}
                {{^Approved}}
                    <img src="/views/admin/reviewlawyers/icon-cross.jpg" width="15" height="15" alt="" />
                {{/Approved}}
                {{{NameHtml}}}
            </td>
	        <td>{{{EmailAddressHtml}}}</td>
	        <td>{{YearAdmitted}}</td>
	        <td>{{DateRegistered}}</td>
	        <td class="action">
	            <form>
	                <button data-action="approve">APPROVE</button>
	                <button class="red" data-action="go-to-reject">REJECT</button>
	            </form>
	            <!-- <a href="#" class="moredetail">More Detail</a> -->
	        </td>
	    </tr>
    {{/Lawyers}}
</table>