{{Model Lawspot.Views.Admin.AnswerQuestion.AnswerQuestionViewModel}}

<h1>Answer Question</h1>

<div class="question">
    <img src="/views/browse/question/question.png" class="left" width="68" height="98" alt="" />
    <div class="speech">
	    <h1 id="edited-title">{{Title}}</h1>
        <h1 id="original-title" style="display: none">{{OriginalTitle}}</h1>

	    <p>
            <strong>Question Details:</strong>
            <div id="edited-details">
                {{{DetailsHtml}}}
            </div>
            <div id="original-details" style="display: none">
                {{{OriginalDetailsHtml}}}
            </div>
	    </p>

        <div class="meta">
            <img src="/shared/images/info-small.png" />
            Asked {{DateAndTime}} under {{CategoryName}}
        </div>

        <hr />

        <div class="meta">
            <img src="/shared/images/success-small.png" />
            <strong>Question approved</strong> by {{ReviewedBy}}
            {{#OriginalTitle}}
                <div style="float: right">
                    <a id="show-original-question-link" href="#">Show original question</a>
                    <a id="show-edited-question-link" href="#" style="display: none">Show edited question</a>
                </div>
            {{/OriginalTitle}}
        </div>
    </div>
</div>

<div>
    {{#Answers}}
        <div class="answer {{#Approved}}approved-answer{{/Approved}} {{#RecommendedForApproval}}approved-answer{{/RecommendedForApproval}} {{#Rejected}}rejected-answer{{/Rejected}}">
            <img src="/views/browse/question/answer.png" class="left" width="76" height="119" alt="" />
            <div class="speech">

                <div class="meta">
                    <img src="/shared/images/info-small.png" />
                    Answer by {{AnsweredBy}} at {{DateAndTime}}
                </div>

                <div class="view-content">

                    <p>
                        <strong>Answer:</strong>
                        {{{AnswerHtml}}}
	                </p>

                    {{#ReferencesHtml}}
                        <p>
                            <strong>Notes and References:</strong>
                            {{{ReferencesHtml}}}
                        </p>
                    {{/ReferencesHtml}}

                    <hr />

                    <div class="meta">
                        {{#Draft}}
                            <img src="/shared/images/warning-small.png" />
                            <span class="draft">This answer is a draft and has not yet been submitted.</span>
                        {{/Draft}}

                        {{#Pending}}
                            <img src="/shared/images/info-small.png" />
                            This answer is pending review.
                        {{/Pending}}

                        {{#Approved}}
                            <img src="/shared/images/success-small.png" />
                            <strong>Approved</strong> by {{ReviewedBy}} at {{ReviewDate}}
                        {{/Approved}}

                        {{#Rejected}}
                            <img src="/shared/images/error-small.png" />
                            <strong>Rejected</strong> by {{ReviewedBy}} at {{ReviewDate}}
                        {{/Rejected}}

                        {{#RecommendedForApproval}}
                            <img src="/shared/images/success-small.png" />
                            <strong>Recommended for approval</strong> by {{ReviewedBy}} at {{ReviewDate}}
                        {{/RecommendedForApproval}}
                    </div>

                    <p>{{{RejectionReasonHtml}}}</p>
                </div>
            </div>
        </div>
    {{/Answers}}

    <div class="answer-form">
        <form method="post">
	        <strong>Your Answer</strong><br />
	        <textarea id="AnswerTextArea" name="details" autofocus {{#ModelState.Answer}}class="validation-error-field"{{/ModelState.Answer}}>{{Answer}}</textarea><br />
            <div class="validation-error">{{ModelState.Answer}}</div>

            <strong>Notes and References</strong> (only the reviewer will see these)<br />
	        <textarea id="ReferencesTextArea" name="references" {{#ModelState.References}}class="validation-error-field"{{/ModelState.References}}>{{References}}</textarea><br />
            <div class="validation-error">{{ModelState.References}}</div>

	        <p>
                <small>
                    Your answer will be screened by a legally qualified Wellington Community Law
                    Centre (CLWHV) supervisor before it is published online. The supervisor may modify
                    or rewrite your answer, or reject it outright. When approved, the answer will be
                    published under the name of the CLWHV, not under your own name. In addition, this
                    <a href="#" id="important-notice-link">Important Notice</a> will appear as part
                    of your answer, to make clear to the user the answer’s limitations.
                </small>
            </p>
            <p id="important-notice">
                IMPORTANT NOTICE: The answer provided above is intended for general informational
                purposes only and cannot be considered a substitute for face-to-face legal advice. It
                should not be relied upon as the sole basis for taking action in relation to a legal
                issue. Laws change frequently, and small variations in the facts, or a fact not
                provided in the question, can often change a legal outcome or a lawyer’s conclusion. No
                liability whatsoever is accepted by the authors or publishers of the answer, for loss,
                damage or inconvenience arising in any way from the use of this site. Although LawSpot
                has verified that each lawyer volunteer holds a current practising certificate, he or
                she may not necessarily have experience in the particular area of law involved. <br />
                <br />
                For more information about this website, please review our <a href="/terms">
                Terms of Use</a>.
            </p>

	        <div class="centre">
	            <button type="submit">SUBMIT</button>
	        </div>
	    </form>
    </div>
</div>