<h1> Terminology </h1>

<h3>Lawyer volunteer</h3>
<ul>
<li>Lawyer volunteers provide draft answers to questions submitted on LawSpot.
<li>Lawyer volunteers must hold a current practicing certificate in order to provide draft answers in his or her own account. 
<li>Lawyer volunteers do not have access to view questions as originally submitted by users. Lawyer volunteers can only view the questions that have been vetted by the question vetters. 
</ul>

<h3>Senior and junior buddies</h3>
<ul>
<li>Buddy relationships have a senior buddy and a junior buddy.
<li>Buddy relationships allows those who do not have a practicing certificate (the junior buddy) to do research and prepare draft answers for review by a lawyer volunteer with a practicing certificate (the senior buddy).
<li>The junior buddy can view material on the website which is available to all lawyer volunteers but cannot answer any questions in his or her own account.
<li>The senior buddy reviews the research and draft answers prepared by a junior buddy. When a senior buddy is satisfied with the quality of the answer, the senior buddy can submit that answer in his or her own name. 
<li>All answers should include relevant notes and references. The senior buddy must note whether the research and draft answer has been provided by a junior buddy.
</ul>

<h3>Peer reviewer </h3>
<ul>
<li>A peer reviewer is a senior volunteer lawyer that reviews the answers submitted by lawyer volunteers.
<li>A peer reviewer should check the quality of an answer for both substance and style (see the checklist in the Reference Materials page).
<li>A peer reviewer can either reject an answer or recommend it for approval. 
<li>If the peer reviewer rejects an answer, he or she should give specific feedback to the lawyer volunteer to improve the answer.
<li>The peer reviewer can recommend an answer for approval, indicating that he or she is satisfied with the quality of the answer and recommends that the Supervisor approve it. 
</ul>

<h3>Supervisor</h3>
<ul>
<li>Supervisors are the only people authorised to approve draft answers for publication on the LawSpot website. 
<li>The Supervisor reviews answers submitted by lawyer volunteers and can reject or approve answers. 
<li>The Supervisor also oversees the work done by peer reviewers.
<li>Hannah Northover (from Community Law Wellington and Hutt Valley) is currently the only Supervisor. Law firms that partner directly with LawSpot will also be able to supervise lawyer volunteer answers if they wish.
</ul>