<h1>About LawSpot</h1>
            
<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
            
<ul class="contents">
    <li><a href="#management">Management Team</a></li>
    <li><a href="#patron">Our Patron</a></li>
    <li><a href="#board">Board of Advisors</a></li>
</ul>
            
<div id="aboutus">
    <a name="management"></a>
	<h2>Management Team</h2>
	            
	<h3>Maya Shino <em>CEO</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<h3>Bowen Pan <em>Co-Founder</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<h3>Geoffrey <em>Foundation Partner</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<h3>Elizabeth Chan <em>Head of Partnerships</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<h3>Paul Bartrum <em>Head of Technology</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<h3>Cheryl Sun <em>Head of Product</em></h3>
	<p>Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus. Quisque lacus quam, egestas ac tincidunt a, lacinia vel velit. Aenean facilisis nulla vitae urna tincidunt congue.</p>
	            
	<a name="patron"></a>
	<h2> Our Patron </h2>
	            
	<h3>Hon Margaret Wilson DCNZM</h3>
	<p>Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien ut nibh. Donec semper quam scelerisque tortor dictum gravida. In hac habitasse.</p>
	            
	<a name="board"></a>
	<h2> Board of Advisors </h2>
</div>