<h1>Policy for Answering Questions for Lawyer Volunteers</h1>

<p>
    The LawSpot website is intended to provide general, and anonymous, legal information in
    response to questions submitted by registered LawSpot users. This document outlines the rights
    and responsibilities of lawyer volunteers, and policies for: answering questions submitted to
    LawSpot to ensure they fit within our [Terms of Use]; dealing with conflicts; and disclosure of
    information.
</p>

<h2> Volunteer Rights </h2>

<p> Lawyer volunteers have the right: </p>
<ul>
    <li> To have a clearly defined role.
    <li> To say “no” without guilt when asked to take on additional commitments and activities outside your role.
    <li> To be respected and trusted.
    <li> To question your work environment and have your opinions heard.
    <li> To be encouraged and supported.
    <li> To have someone or some process to help you solve problems or difficulties that arise in your role.
</ul>

<h2> Volunteer Responsibilities </h2>

<p> Lawyer volunteers have responsibilities:
<ul>
    <li>To work according to the policies set out in this document.
    <li>To take your work seriously, act professionally at all times and perform it to the best of your ability, regardless of unpaid status.
    <li>To commit only to things you can achieve.
    <li>To act with integrity in accordance with ethical and professional work practices.
    <li>To respect our aims and objectives.
    <li>To encourage and support.
    <li>To take steps to solve problems in your volunteer role and if you can’t, communicate with someone who can.
</ul>

<h2> Questions LawSpot does not answer </h2>

<p> The purpose of LawSpot is to increase New Zealanders’ access to the law by meeting unmet legal needs in the community. Accordingly, there are some, primarily commercial, legal issues that LawSpot does not assist in and that are not within the scope of the indemnity offered to LawSpot by the Wellington Community Law Centre.
<p> LawSpot will not field questions for:
<ul>
    <li>Conveyancing or property leasing (except residential tenancies);
    <li>Landlords (unless they are community groups); or
    <li>Business ventures and commercial transactions;
</ul>
<p> nor will LawSpot answer questions about criminal law relating to a charge which carries a maximum penalty of more than 6 months’ imprisonment.
<p> There are some areas that LawSpot will only provide very general legal information when responding to a user’s question about:
<ul>
    <li>Administration of estates;
    <li>Preparation and execution of wills;
    <li>Property relationship agreements; 
    <li>Powers of attorney; and
    <li>Enduring powers of attorney.
</ul>
<p> When answering questions in these areas, you may only provide and explain general legal information (for instance, linking your answer to useful websites or government agencies). However, under no circumstances will lawyer volunteers draft or witness any documents required in relation to these areas of law, even if a user requests them to do so in a question.

<h2> Useful Hints for Answering Questions </h2>

<p> The advice given by lawyer volunteers is intended as a starting point for users to take steps to address or solve their own legal problem and is not to be considered a substitute for personal legal advice. Therefore, answers to questions should provide general information and assistance, such as directing users to relevant statutes and case law, and outlining the general state of the law in a particular area. They should also be careful to point out the limitations of the advice provided by, for instance, indicating the kind of additional information that a lawyer retained by a client would need to comprehensively answer the user’s question. Note that this <a href="/important-notice">Important Notice</a> will be included as part of every answer published on the website to remind users of the answer’s limitations.
<p> Listed below are some quick hints relating to common issues that may be useful to include in LawSpot answers.

<h2> Employment Law </h2>

<p> Note whether 90 days have passed since the events complained of. There is a 90 day deadline on raising a personal grievance with an employer. If the time period is not apparent in the question, draw attention to this time limit in your answer.
<p> Consider whether the user might be the member of a union and how this might change your advice.
<p> Provide contacts for further employment law help and information, such as:
<ul>
    <li>The specialist employment law session at the Wellington Community Law Centre on Wednesday 5:30-7pm. Volunteers will be able to assist users to take the next step to remedy their employment dispute – eg checking a draft personal grievance letter written by the user.
    <li>The drop in service at the Workers’ Rights Service on Monday, Tuesday and Wednesday 5:30-7pm. They have advocates (rather than lawyers) who can assist users.
    <li>The Department of Labour phone line is open during business hours: 0800 20 90 20. Its website also has plenty of information – <a href="http://www.dol.govt.nz/er">www.dol.govt.nz/er</a>. The Department offers a free mediation service to settle employment disputes.
</ul>

<h2> Criminal Law </h2>

<p> As noted above, LawSpot will not answer any questions about criminal law relating to a charge which carries a maximum penalty of more than 6 months’ imprisonment.
<p> For other criminal law questions, it may be useful in an answer to explain the Legal Aid process, including eligibility criteria and how to challenge refusal of legal aid, and give them tips about how to fill out a legal aid application form. Note that charges with a maximum penalty of less than 6 months’ imprisonment do not ordinarily qualify for legal aid.
<p> Explaining criminal court processes, defences and likely sentences may also be helpful to the user and give the user an idea of what to expect when he or she appears in court (if it seems on the facts provided to you that an appearance is probable). Bear in mind, however, that this information should be general as vetted questions will not contain the information necessary for specific advice. You may also like to point out that it is common to speak with a Duty Lawyer before a court appearance who will be able to get more information from the police about the charges and evidence against the user.
<p> If this is the user’s first criminal offence, diversion could be an option. A description of what diversion involves could be useful. If diversion is not available, the user may be able to apply for a discharge without conviction under s 106 of the Sentencing Act if (s 107) “the court is satisfied that the direct and indirect consequences of a conviction would be out of all proportion to the gravity of the offence”.

<h2> Tenancies </h2>

<p> The Department of Building and Housing website is full of useful information for both landlords (if dealing with a community group) and tenants, and it worth providing a link to – <a href="http://www.dbh.govt.nz/tenancy-index">www.dbh.govt.nz/tenancy-index</a>.
<p> Key legal points to remember include:
<ul>
    <li>The distinction between flatmates and tenants. Tenants have their names on the tenancy agreement. Flatmates have no rights or obligations under the Residential Tenancies Act – only under contract law.
    <li>The distinction between fixed term and periodic tenancies.
    <li>The new (October 2010) protections for boarding house tenants.
    <li>The new (October 2010) rules that fixed term tenancies become periodic if they end without either party confirming that they want to end the tenancy on the end date.
</ul>

<h2> Dealing with Conflicts </h2>

<p> Questions received by lawyer volunteers should be completely anonymous after being vetted by LawSpot’s administrators (essentially setting up a “Chinese Wall”) minimising the risk of a conflict of interest arising.
<p> If however you are able to identify, or you suspect you are able to identify, a user in light of the content, topic or timing of a particular question, you must not provide an answer to that question if doing so could give rise to a conflict of interest between you and the user, or between the user and another person or organisation you already act for in the course of your regular employment as a lawyer.
<p> A LawSpot administrator must also be informed if you realise that you have an interest that touches upon a matter referred to in a user’s question, whether or not it amounts to a conflict. The administrator will then email the user to notify him or her of the existence of this interest. This email will make clear to the user that the interested lawyer is prohibited from answering that question.
<p> LawSpot reserves the right to terminate your registration as a LawSpot lawyer volunteer immediately if in its opinion a conflict arises, either between you and a user of the website, or between a user of the website and a person or organisation you already act for in the course of your regular employment as a lawyer, or between what you do in your personal or professional capacity and the objectives and functions of LawSpot.

<h2> Disclosure of Information </h2>

<p> Lawspot lawyer volunteers have a duty to disclose to users information that he or she has or acquires that is relevant to the issue/s raised in a user’s question.
<p> This means that you are required to include/disclose in your answers any information that you are aware of in respect of other questions received or answers published by LawSpot that are relevant to that particular user’s questions. You can do so by directing a user to specific questions or answers published on LawSpot or indicate in your answer that another question relevant to the issue raised by the user has been received by LawSpot and is awaiting a response.
<p> Before using the LawSpot service, however, users are required to indicate that they understand that LawSpot’s lawyer volunteers may also respond to questions submitted by the other side(s) to that user’s dispute, and that they consent to LawSpot offering this service to other party/parties. Users also consent to non-disclosure of particular information relevant to their question other than:
<ul>
    <li>information that the lawyer has in respect of the state of the relevant area of law as at the particular point in time at which that user’s question is answered; and
    <li>information that the lawyer has in respect of questions that have been submitted to LawSpot, and answers that have been published by LawSpot as at the particular point in time at which that user’s question is answered.
</ul>
<p> The effect of this waiver is that, although you will have to refer to information provided in questions already answered or about to be answered on LawSpot, you are not required to contact the user if, after answering a user’s question, you acquire new information, even if this non-disclosure could have negative implications for the user’s legal position.
<p> Additionally, you will be required to disclose to other interested parties any information that you have come across when answering questions from other users. The vetting process should protect you from this requirement by removing any identifying information from submitted questions.

<p> (Last updated: 12 April 2012)