<h1>LawSpot Awards and Media</h1>
<h2>Awards</h2>
<ul>
	<li><a href="https://www.doyourthing.co.nz/recipients-2012">AMP National Scholarship</a> and <a href="http://www.youtube.com/watch?v=YUP_oHGdbuE">video feature</a></li>
	<li><a href="https://www.doyourthing.co.nz/adviser-business-recipients-2012/#valley-financial-solutions-scholarship">Valley Financial Solutions Scholarship</a></li>
</ul>

<h2>Media</h2>
<ul>
	<li>New Zealand Law Society: <a href="http://www.lawsociety.org.nz/home/nzls_services_for_lawyers/lawtalk">LawTalk Issue 810</a>, 7 December 2012</li>
	<li><a href="http://www.stuff.co.nz/technology/digital-living/8041837/Online-lawyers-advice-hits-the-spot">Dominion Post</a>, 6 December 2012</li>
	<li><a href="http://www.kiwiblog.co.nz/2012/12/a_great_resource.html">Kiwiblog</a> (David Farrar), 5 December 2012</li>
	<li><a href="http://www.stuff.co.nz/manawatu-standard/news/8027635/Lawyers-website-answers-questions">Manawatu Standard</a>, 3 December 2012</li>
	<li><a href="http://www.idealog.co.nz/blog/2012/08/lawspot">Idealog</a>, 3 August 2012</li>
</ul>