<h1> Contact Us </h1>

<p>
    If you would like to find out more about LawSpot2 please email us at one of the addresses below:
</p>

<p>
    If you are having trouble using LawSpot - contact
    <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
</p>

<p>
    If you are a lawyer wanting to help, click here to sign up to answer questions on LawSpot.
</p>

<p>
    If you’re energetic and talented and want to join the LawSpot team, contact
    <a href="&#109;ailto&#58;recruitment&#64;lawspot.org.nz">recruitment&#64;lawspot.org.nz</a>.
</p>

<p>
    If you are a business or community organisation looking to partner with LawSpot, contact
    <a href="&#109;ailto&#58;partnerships&#64;lawspot.org.nz">partnerships&#64;lawspot.org.nz</a>.
</p>

<p>
    If you work in media and want to know more about the LawSpot story, contact
    <a href="&#109;ailto&#58;media&#64;lawspot.org.nz">media&#64;lawspot.org.nz</a>.
</p>