<h1>Important Notice About Answers</h1>

<p>
    The answers provided on this site are intended for general informational
    purposes only and cannot be considered a substitute for personal legal advice
    specific to your particular circumstances. Laws change frequently, and small
    variations in the facts, or a fact not provided in the question, can often change
    a legal outcome or a lawyer’s conclusion. No liability whatsoever is accepted by
    the authors or publishers of the answer, for loss, damage or inconvenience arising
    in any way from the use of this site. The Wellington Community Law Centre provides
    legal supervision of the answers submitted by LawSpot’s lawyer volunteers and may
    alter or rewrite the answers received from these volunteers before an answer is
    published online. Thus multiple lawyers may have contributed to the answer above,
    and no solicitor-client relationship is entered into by any of the lawyers involved
    in answering this question. Although LawSpot has verified that the lawyer providing
    the answer is enrolled as a barrister and solicitor of the High Court of New
    Zealand and holds a current practising certificate, he or she may not necessarily
    have experience in the area of law involved. Unlike the information provided in the
    answer above, should you seek personal legal advice specific to your particular
    circumstances you should go to a Community Law Centre or retain a lawyer to
    represent you. This answer may contain links to other web sites. These links are
    provided for convenience only and should not be taken as an endorsement of those
    websites or information contained in those websites. You use these websites at your
    own risk.
</p>
<p>
    For more information about this website, please review our <a href="/terms">
    Terms of Use</a>.
</p>