<h1>Policy for Lawyer Volunteers</h1>

<h2>1. Background</h2>
<ol style="list-style-type: lower-latin">
<li>LawSpot is a non-profit, Q&A website that contains information relating to New Zealand law. 
<li>Community Law Wellington & Hutt Valley (CLWHV) is a cornerstone partner of LawSpot, and legally qualified CLWHV supervisors screen all answers provided by Members before they are published online. 
<li>The purpose of LawSpot is to increase New Zealanders’ access to the law.
</ol>

<h2>2. Purpose</h2>
<p>In order to register to answer questions on LawSpot, you must select the tick-box labelled “I agree to the LawSpot Policy for Lawyer Volunteers”. By selecting this tick-box, you indicate that you accept the terms of this agreement as well as the terms contained in the Website’s <a href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>. If you do not accept any terms contained in any of these agreements, you should not select this tick-box and you will not be able to register to become a LawSpot Member.

<h2>3. Parties</h2>
<p>This document contains all the policies that apply to you once you have been approved a registered LawSpot Member (“you” or “Member”) to submit answers for LawSpot. It is to be read in conjunction with the Website’s <a href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.

<h2>4. Commencement</h2>
<p>You agree to comply with this policy from the time you receive an email notification from LawSpot confirming that you are now an approved LawSpot Member and may start submitting answers on LawSpot.

<h2>5. Requirements for approval</h2>
<ol style="list-style-type: lower-latin">
<li>You must be enrolled as a barrister and solicitor of the High Court of New Zealand and hold a current practising certificate in order to become a registered LawSpot Member and answer questions on the Website. 
<li>LawSpot will use the information you provide upon registration (your name, the year you were admitted to the Bar, and the name of your employer) to verify that you hold a current practising certificate.
<li>Before you are approved as a Member and able to answer questions on the Website, LawSpot may require you to undertake some initial training in relation to the use of the Website and to go over this Policy and the Website’s Terms of Use. This training will be coordinated by LawSpot and may take place online or in a face-to-face training session. It will be conducted over a session of no more than 2 hours in duration. LawSpot will email you further information about the next training session once you have submitted your online registration form.
<li>LawSpot reserves the right to refuse to register any person as a LawSpot Member. LawSpot Members have the right to quit and forfeit their registration at any time.
</ol>

<h2>6. Email notifications</h2>
<p>You will receive the following email notifications from LawSpot as part of the registration process:
<ol style="list-style-type: lower-latin">
<li>An email notifying you that LawSpot has received your registration form and will be in touch once your details have been verified; and
<li>An email notifying you that:
<ol style="list-style-type: lower-roman">
<li>your details have been verified and that you will be able to begin answering questions on LawSpot once you have completed the requisite training specified above at 5(c) above; or
<li>your registration has been is on hold as the information you have provided does not match the details of any currently enrolled barrister and solicitor of the High Court, or because LawSpot has exercised its right to refuse your registration.
</ol>
</ol>

<h2>7. Scope of Member’s rights and responsibilities</h2>
<ol style="list-style-type: lower-latin">
<li>You agree that any questions you answer on the Website you answer for free, on a pro bono basis.
<li>When volunteering to answer questions on the Website, you have the right:
<ol style="list-style-type: lower-roman">
<li>To have a clearly defined role.
<li>To say “no” without guilt when asked to take on additional commitments and activities outside your role.
<li>To be respected and trusted.
<li>To question your work environment and have your opinions heard.
<li>To be encouraged and supported.
<li>To have someone or some process to help you solve problems or difficulties that arise in your role.
</ol>
<li>When volunteering to answer questions on the Website, you have responsibilities:
<ol style="list-style-type: lower-roman">
<li>To work according to the policies set out in this document.
<li>To take your work seriously, act professionally at all times and perform it to the best of your ability, regardless of unpaid status.
<li>To commit only to things you can achieve.
<li>To act with integrity in accordance with ethical and professional work practices.
<li>To respect LawSpot’s aims and objectives.
<li>To encourage and support.
<li>To take steps to solve problems in your volunteer role and if you can’t, communicate with someone who can.
</ol>
</ol>

<h2>8. Answering questions</h2>
<ol style="list-style-type: lower-latin">
<li>The answers given by lawyer volunteers is intended as a starting point for users to take steps to address or resolve their own legal problem and is not to be considered a substitute for face-to-face legal advice.</li>
<li>Therefore, answers to questions should provide general information and assistance and outline the general state of the law in a particular area. They should also be careful to point out the limitations of the advice provided by, for instance, indicating the kind of additional information that a lawyer retained by a client would need to comprehensively answer the user’s question.</li>
</ol>

<h2>9. Questions LawSpot does not answer</h2>
<ol style="list-style-type: lower-latin">
<li>The purpose of LawSpot is to address unmet legal need in the community. Accordingly, there are some, primarily commercial, legal issues that LawSpot does not assist in and that are not within the scope of the indemnity offered to LawSpot by Community Law Wellington & Hutt Valley. 
<li>LawSpot will not field questions for:
<ol style="list-style-type: lower-roman">
<li>Conveyancing or property leasing (except residential tenancies)
<li>Landlords (unless they are community groups)
<li>Business ventures and commercial transactions.
</ol>
<li>There are some areas that LawSpot will only provide very general legal information about when responding to a user’s question about. These areas are:
<ol style="list-style-type: lower-roman">
<li>Administration of estates
<li>Preparation and execution of wills
<li>Property relationship agreements
<li>Powers of attorney
<li>Enduring powers of attorney.
</ol>
<li>When answering questions in these areas, you may only provide and explain general legal information (for instance, linking your answer to useful websites or government agencies). However, under no circumstances will lawyer volunteers draft or witness any documents required in relation to these areas of law, even if a user requests them to do so in a question.
</ol>

<h2>10. Dealing with conflicts</h2>
<ol style="list-style-type: lower-latin">
<li>LawSpot has taken reasonable steps to prevent situations where a conflict of interest may arise between:
<ol style="list-style-type: lower-roman">
<li>a user of the Website and a Member who answers questions on the Website;</li>
<li>two users of the Website who are opposing parties to the same dispute (whether existing or prospective);</li>
<li>a user of the Website and a client of the CLWHV (whether existing or prospective); and</li>
<li>a user of the Website and a client you advise in the course of your regular employment as a lawyer.</li>
</ol>
<li>Questions received by Members should be completely anonymous after being vetted by LawSpot’s administrators making the content so generalised that the risk of conflicting duties becomes negligible. 
<li>If however you are able to identify, or you suspect you are able to identify, a user in light of the content, topic or timing of a particular question, you must not provide an answer to that question if doing so could give rise to a conflict of interest. It is ultimately up to you to manage your own conflicts.
</ol>

<h2>11. Disclosure of information</h2>
<ol style="list-style-type: lower-latin">
<li>Lawspot lawyer volunteers have a duty to disclose to users information that the lawyer has or acquires that is relevant to the issue/s raised in a user’s question. 
<li>Before using the LawSpot service, however, users are required to indicate that they understand that a LawSpot lawyer volunteer, the CLWHV, or the employer firm of a LawSpot volunteer (“LawSpot and its associated entities”) may (currently, or in future) advise the other party to a user’s legal dispute, and that they consent to this. Users also consent to non-disclosure of particular information relevant to their question other than:
<ol style="list-style-type: lower-roman">
<li>information that the lawyer has in respect of the state of the relevant area of law as at the particular point in time at which that user’s question is answered; and
<li>information that the lawyer has in respect of questions that have been submitted to LawSpot, and answers that have been published by LawSpot as at the particular point in time at which that user’s question is answered.
</ol>
<li>This means that you are required to include/disclose in your answers any information that you are aware of in respect of other questions received or answers published by LawSpot that are relevant to that particular user’s questions. You can do so by directing a user to specific questions or answers published on LawSpot or by indicating in your answer that another question relevant to the issue raised by the user has been received by LawSpot and is awaiting a response.
<li>The effect of this waiver is that, although you will have to refer to information provided in questions already answered or about to be answered on LawSpot, you are not required to contact the user if, after answering a user’s question, you acquire new information, (whether in the course of volunteering for LawSpot or the CLWHV, or in the course of your regular employment as a lawyer), even if this non-disclosure could have negative implications for the user’s legal position.
<li>Additionally, you will need to decide whether you ought to disclose the fact that a particular question or answer of interest to a client of LawSpot or its associated entities has been submitted on LawSpot. The vetting process should remove all identifying information from submitted questions, meaning that at most, you will only be required to disclose to that other interested party the fact that an answer relevant to that client’s interests has been published on LawSpot or a question relevant to that client’s interests has been received by LawSpot and is awaiting a response. It is up to you to determine whether you ought to tell that client (or LawSpot, the CLWHV, or your employer) when you believe you have come across a question or answer of relevance to a client of LawSpot or its associated entities.
</ol>

<h2>12. Supervision by Community Law Wellington & Hutt Valley</h2>
<ol style="list-style-type: lower-latin">
<li>Your answer will be screened by a legally qualified Community Law Wellington & Hutt Valley (CLWHV) supervisor before it is published online. 
<li>The CLWHV reserves the right to modify or rewrite your answer, or to reject it outright. 
<li>Once approved, the answer will be published under the name of the CLWHV. You will not be personally identified as the lawyer who contributed to the answer.
</ol>

<h2>13. Confidentiality</h2>
<ol style="list-style-type: lower-latin">
<li>Only LawSpot’s administrators and the CLWHV supervisors will be able to view the personal information you provide us with when you register. The administrators and supervisors must treat this information as confidential and can only use it for the limited purposes set out in the <a href="/privacy-policy">Privacy Policy</a>.
<li>LawSpot will not publish the identity of a Member on the Website. Your identity is protected, and the fact that you have registered to answer questions on the Website is confidential as between LawSpot and you.
<li>By answering questions on the Website, you accept that some or all of your answer (depending on whether the CLWHV has modified it) will be published on the Website and available for public view. Accordingly, you waive any rights over the content of the answer you submit.
<li>The <a href="/important-notice">IMPORTANT NOTICE</a> attached to every answer makes clear that no liability whatsoever is accepted by the authors or the publishers, for loss, damage or inconvenience consequent upon the question or answer being made public. 
<li>As outlined at 11(c) above, because all answers are posted under the name of the CLWHV, you will not be personally identified as the lawyer who contributed to a particular answer.
</ol>

<h2>14. Disclaimer of liability</h2>
<ol style="list-style-type: lower-latin">
<li>LawSpot has taken reasonable steps to protect you as a Member from being exposed to liability through your use of the Website. 
<li>Every registered LawSpot Member is protected from liability for their actions in relation to their use of the Website through an indemnity offered by the CLWHV. This indemnity is the same in scope as that offered by the CLWHV to lawyer volunteers who assist in the centre’s provision of community legal services (for example, at its Free Legal Advice Sessions). Furthermore, as each answer is published under the name of the CLWHV, you will not be personally liable for the content of the answer, nor identified as a contributor to that answer.
<li>This <a href="/important-notice">IMPORTANT NOTICE</a> will appear as part of every answer published, to make clear to the user the fact that the answer provided is not a substitute for personal legal advice and that no liability whatsoever is accepted by the authors or publishers of the answer, for loss, damage or inconvenience arising in any way from the use of the Website.
</ol>

<h2>15. Amendments</h2>
<ol style="list-style-type: lower-latin">
<li>The Parties acknowledge that the LawSpot Policy for Lawyer Volunteers may change from time to time. 
<li>Either party may request a review of this document.
<li>Changes to the policy will be communicated in writing (including email).
<li>Any changes must reflect the original intentions of thisdocument.
</ol>

<h2>16. Termination</h2>
<p>Either party may terminate the Member’s registration as a LawSpot lawyer volunteer by giving the other party written notification of the termination (including by email).