<h1> Partner With Us </h1>

<p>LawSpot operates in partnership with the <a href="http://www.wclc.org.nz/" target="_blank">Community Law Wellington & Hutt Valley</a>.</p>

<p>Many of the answers published refer to chapters in the Legal Reference Manual accessible from the website of the Coalition of Community Law Centres o Aotearoa. This is a great resource covering many areas of law that people have questions about - check it out at:</p>

<p class="centre"><a href="http://www.communitylaw.org.nz/" target="_blank"><img src="http://www.communitylaw.org.nz/fileadmin/templates/images/cl-logo.png" alt="Community Law"></a></p>

<p>We're always on the lookout for new partnership opportunities. Please contact <a href="mailto:partnerships@lawspot.org.nz">partnerships@lawspot.org.nz</a> if you are:</p>

<ul>
    <li>a business looking to support a high-impact, innovative community initiative</li>
 </ul>

<p>or</p>

<ul>
    <li>a community organisation that shares LawSpot's vision of increasing all Kiwis' access to the law</li>
</ul>

<p>We’d love to hear from you!</p>