<h1>Privacy Policy</h1>

<p>
    Protecting your privacy matters to us. This document discloses our information gathering and
    usage practices in relation to the LawSpot website (the Website). For additional information
    about the Website please review our <a href="/terms">Terms of Use</a>. We reserve the right to
    change our privacy policy from time to time.
</p>

<h2>Use of your information</h2>

<p>We will only use personal information about you:</p>
<ul>
    <li>to help us provide LawSpot services to you;
    <li>to verify your identity;
    <li>to enforce or apply our terms and conditions;
    <li>to protect the rights, property, or safety of LawSpot, our users, or others;
    <li>if the law requires us to;
    <li>for statistical and budgetary research purposes; and
    <li>for any other use that you authorise.
</ul>

<p>
    We do not sell or pass on your personal information to third parties unless you authorise us to do so.
</p>

<p>
    You have the right to ask for a copy of any personal information we hold about you, and to ask
    for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your
    information, or to have it corrected, please contact us at <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
</p>

<h2>Retaining your information</h2>

<p>
    We keep digital copies of your information indefinitely. We do not keep physical copies of your
    personal information.
</p>

<p>
    Because LawSpot anonymises and generalises the answers published on our website, these answers
    will remain on the website in order for us to continue to provide our service. However, we will
    delete your personal details on request to <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
</p>

<h2>User registration</h2>

<p>
    Before you can submit a question on LawSpot, we require your email address so that we can
    notify you when your question has been answered or if we offer to refer you to one of our
    partner lawyers. Your email address will never be published online or shared with our lawyer
    volunteers. We also need to know which region you live in for statistical purposes and so
    that we can offer to refer you to a partner lawyer nearby.
</p>

<h2>Lawyer registration</h2>

<p>
    As part of the lawyer registration process, we require lawyers to provide us with their name and
    email address so that we can verify that they hold a current practising certificate. Lawyers
    may also provide further contact details and information about themselves and/or their firm on
    their profile page, which will be publicly available. If lawyers opt-in to receiving referrals
    from LawSpot, they will be required to provide their contact details.
</p>

<h2>Updating your account information</h2>

<p>
    We provide you with ways to update your personal account information, including
    changing your email address and password. We store previous email addresses against your
    profile to ensure compliance with our <a href="/terms">Terms of Use</a>.
</p>

<h2>Email</h2>

<p>
    If you are registered with LawSpot, we may send you emails about LawSpot, in addition to our
    customary question and answer-related communications. We will remove you from our mailing list
    at your request to <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
</p>

<p>
    We may also email you to invite you to complete a feedback survey for us once you have had a
    question answered on LawSpot. The survey may ask you for personal and demographic information
    on a confidential basis, to be used to improve the LawSpot service. Survey responses will be
    processed by LawSpot administrative staff and individual responses will not be seen by any of
    LawSpot’s lawyer volunteers. Data compiled through the survey may be shared by LawSpot with the
    Ministry of Justice for statistical and budgetary purposes.
</p>

<h2>Asking questions on LawSpot</h2>

<p>
    <i>Will my question be anonymous?</i><br />
    Yes, your question will be anonymous. When your question is submitted, your email is not
    published on the website and LawSpot’s administrators will delete any part of your question
    that contains identifying features about you. At no point will a public user of the Website or
    a LawSpot lawyer volunteer have access to identifying details about you such as your email
    address. Only LawSpot administrators will be able to view the question directly as submitted by
    you online and any personal information about you may only be used by LawSpot for the limited
    purposes outlined above, in the “Use of your information” section of this policy.
</p>

<p>
    <i>Will my question be published online?</i><br />
    Yes, if your question if answered by a LawSpot partner lawyer your question will be published
    online. When you submit a question on the Website, you will be asked to tick a box that asks if
    you agree to the Website’s <a href="/terms">Terms of Use</a>. By ticking this box, you
    understand that your question and the answer will be published on the Website for public view.
    Accordingly, you waive your right to claim confidentiality over the content of your question
    and the answer provided. No liability whatsoever is accepted by the authors or the publishers,
    for loss, damage or inconvenience consequent upon the question and answer being made public.
</p>

<h2>Control of your password</h2>

<p>
    You are responsible for all actions taken with your LawSpot account, email address and
    password.
</p>

<p>
    It is important for you to protect against unauthorised access to your password and to your
    computer. Ensure you logout when you have finished visiting the Website, especially if you
    access the Website from a shared computer.
</p>

<h2>Cookies</h2>

<p>
    Cookies are small pieces of information that are stored by your web browser in a file on your
    computer's hard drive when you use our Website. We use cookies to improve the experience of
    using our site. Cookies are widely used on most major websites.
</p>

<p>
    We use "session" cookies to temporarily store information to help you use the Website. This
    information is used to deliver the right content to you as you use the Website and avoids
    unnecessarily asking you to log in. Session cookies expire immediately when you close your web
    browser.
</p>
<p>
    We also use "persistent" cookies to personalise the user experience, to help protect our
    members and to provide us with research information (such as how often users visit LawSpot each
    month). Persistent cookies allow us to track users on LawSpot and help us identify users
    abusing the LawSpot service. A persistent auto-login cookie is also stored when LawSpot users
    select the "remember me" option when logging in. The auto-login cookie is removed when the
    LawSpot user logs out.
</p>

<h2>Third party links</h2>

<p>
    The LawSpot website may contain links to third party sites to enhance the user experience. We
    have no control of either the content or privacy policies of such sites, nor should such links
    be considered an endorsement of these sites except where otherwise noted. In some cases, third
    party advertisers may also use cookies in certain advertisements or links that appear on the
    Website for advertising purposes. Please see our <a href="/terms">Terms of Use</a> for further
    information on third party sites.
</p>

<h2>Other information we collect</h2>

<p>
    We use additional information to do internal research on our users' demographics, interests,
    and behaviour to better understand and serve you and our community. This information may
    include the URL that you just came from (whether this URL is on our site or not), which URL
    you next go to (whether this URL is on our site or not), what browser you are using, and your
    IP address.
</p>

<p>
    Users who login may have their IP addresses recorded. LawSpot will only use this for the
    limited purposes outlined above, in the “Use of your information” section of this policy.
</p>

<p>
    If you send us personal correspondence, such as emails, or if members of the LawSpot
    administrative staff send us correspondence about your activities on the Website, we may
    collect such information into a file specific to you.
</p>

<h2>Removal of registration</h2>

<p>
    If you wish to have your registration removed from our directory for any reason, you may send
    us an email requesting this.
</p>

<h2>Updates to our information practices</h2>

<p>
    From time to time, we make changes to our information practices or alter the functionality of
    our Website. We always update this statement accordingly, so we encourage you to periodically
    review this page for the latest information on our privacy practices.
</p>

<h2>Questions?</h2>

<p>
    If you have any questions about our privacy policies or any other matter, please contact us at
    <a href="&#109;ailto&#58;support&#64;lawspot.org.nz">support&#64;lawspot.org.nz</a>.
</p>
   
<p>Last Updated: 17 September 2015.</p>