<h1>Terms of Use</h1>

<h2>QUESTIONS LAWSPOT DOESN'T ANSWER</h2>

<p>LawSpot does not answer questions about conveyancing or property leasing (except residential tenancies), or questions from landlords, or from business ventures and employers. This is because LawSpot is aimed at addressing unmet legal need in the community.</p>

<p>LawSpot will only provide very basic information in relation to questions about wills, estates, property relationship agreements, powers of attorney and enduring powers of attorney. This is because LawSpot cannot assist with reviewing or drafting any documents in these areas due to the online Q&A format.</p>

<h2>INFORMATION YOU NEED TO READ FIRST</h2>

<p>The Rules of Conduct and Client Care for Lawyers of the New Zealand Law Society require that we provide you in advance with the following initial information:</p>

<h3>Professional indemnity insurance</h3>

<p>LawSpot is covered by the professional indemnity insurance held by Community Law Wellington & Hutt Valley (CLWHV) and this meets or exceeds the minimum standards specified by the Law Society. We will provide you with the particulars of the minimum standards upon request.</p>

<h3>Lawyers’ Fidelity Fund</h3>

<p>The Law Society maintains the Lawyers’ Fidelity Fund for the purposes of providing clients of lawyers with protection against pecuniary loss arising from theft by lawyers. As the legal services we provide are free and we do not receive or hold money or valuables on trust, the fidelity fund is not relevant to the services offered by LawSpot.</p>

<h3>Complaints procedure</h3>

<p>We maintain a procedure for handling any complaints by users of the LawSpot website (the Website). The procedure is designed to ensure that a complaint is dealt with promptly and fairly. See page 8 for more information about LawSpot’s Complaints Procedure.</p>

<p>If you have tried using LawSpot’s Complaints Procedure to make a complaint against a lawyer and it has proven unsatisfactory, you can also make a  complaint against a lawyer to the Law Society’s Lawyers Complaints Service by phoning 0800 261 801, emailing complaints@lawsociety.org.nz, or writing to PO Box 494, Wellington 6140. More information about the Lawyers Complaints Service can be found at <a href="http://www.lawsociety.org.nz/home/for_lawyers/regulatory/complaints">http://www.lawsociety.org.nz/home/for_lawyers/regulatory/complaints</a>.</p>

<h2>DISCLAIMER</h2>

<h3>No liability</h3>

<p>
    While every effort has been made to ensure the accuracy of the contents of this website, no
    liability whatsoever is accepted by the authors or publishers, for loss, damage or
    inconvenience consequent upon any error or omission, or arising in any way from the use of this
    site. LawSpot endeavours to provide a service of the highest quality. However, we cannot
    guarantee that our service will be uninterrupted or error-free.
</p>

<h3>Not intended to be comprehensive</h3>

<p>
    The Website is intended as a forum where users can post general questions
    about New Zealand law and have their questions answered online by qualified lawyers. It is
    intended for general informational purposes and as a first port of call only and is not
    intended to be comprehensive.
</p>

<h3>Not a substitute for face-to-face legal advice</h3>

<p>
    The answers published on the Website cannot be considered a substitute for face-to-face legal
    advice. If you have a particularly complex or specific question, you should seek personal legal
    advice from a Community Law Centre, or retain a lawyer to advise you. You
    should never rely on the information provided in our answers as the sole basis for taking
    action in relation to a legal issue. This <a href="/important-notice">IMPORTANT NOTICE</a> is
    included as part of every answer published on the Website, as a reminder to users of the
    limitations of the answer.
</p>

<h3>LawSpot may refuse to answer your question</h3>

<p>
    LawSpot also reserves the right to refuse to answer a question if a LawSpot administrator
    considers that the question:
</p>
<ul>
    <li>has already been asked and answered on the Website;</li>
    <li>contains objectionable or offensive material; is too complex or specific in nature; contains information that would place any person at risk of being personally identified;</li>
    <li>relates to an area of law that LawSpot doesn’t cover: LawSpot does not answer questions about conveyancing or property leasing (except residential tenancies), or questions from landlords, or from business ventures and employers;</li>
    <li>may itself be in breach of New Zealand law - including the laws of contempt, breach of confidence,
    breach of privacy, and defamation;</li>
    <li>or for any other reason.</li>
</ul>

<h3>LawSpot may modify your question</h3>

<p>
    LawSpot also reserves the right to modify (through its administrators) any question that might
    otherwise be rejected for any of the above reasons so that it can be made available for lawyers
    to answer.
</p>

<h3>Time it takes to answer a question</h3>

<p>
    LawSpot will endeavour to have the user’s question answered within 1–2 business days, however
    it may take longer.
</p>

<h3>You consent to LawSpot answering questions from the “other side”</h3>

<p>
    When you submit a question on the Website, you will be asked to tick a box that asks if you
    agree to the Website’s Terms of Use and checks that you understand that your question and the answer
    will be made public (but your name won’t be). By ticking this box, you indicate that you understand that
    LawSpot’s lawyer volunteers may also respond to questions submitted by someone who may be the
    other party to your legal issue, and you consent to this. You are aware that a LawSpot lawyer
    may, in the course of answering the other party’s question, provide material that could have
    negative implications for your own legal position. 
</p>

<h3>Sometimes LawSpot lawyers may already be acting for the “other side”</h3>

<p>
    When you submit a question and accept these Terms of Use, you also indicate that you accept that a LawSpot lawyer volunteer, the CLWHV, or the employer firm of a LawSpot volunteer (“LawSpot and its associated entities”) may advise the other party to your legal issue. You understand that LawSpot and its associated entities may, in the course of advising another client, provide advice to that other client that could have negative implications for your own legal position, and you consent to this. Because all questions are anonymised when they are submitted on the Website, LawSpot lawyer volunteers will not know whether you are in dispute with another client of LawSpot or its associated entities. 
</p>

<h3>You consent to only certain information being disclosed to you</h3>

<p>
    When you submit a question and accept these Terms of Use, you also indicate that you understand that each LawSpot lawyeris only obliged to tell you information about the relevant area of law as at the time they answer your question, and to tell you if they are aware of other questions received or answers published by LawSpot that are relevant to your question, and you consent to this. No LawSpot lawyer is obliged to tell you any new information they come across that may be relevant to your question that the lawyer has become aware of after the answer to your question has been published. This means you will not receive any new information whether held by LawSpot, the CLWHV, the LawSpot lawyer volunteers personally, or by any employer of a LawSpot lawyer volunteer. 
</p>

<p>
    You are aware that this means that if a LawSpot lawyer, after answering your question, becomes
    aware of information that could assist you in dealing with your particular legal issue, that
    lawyer does not have to share with you that further information, even if this non-disclosure
    could have negative implications for your own legal position. 
</p>

<h3>Lawyers’ obligation to exercise independent judgment</h3>

<p>
    None of these terms affect the obligation that applies to all lawyers, to exercise independent
    judgment when answering questions and to give objective advice based on the lawyer’s
    understanding of the law. 
</p>

<h3>Alternatives are available</h3>

<p>
    You are aware that there are alternatives to consenting to these terms. For example, you could
    seek face-to-face advice at a local Community Law Centre, or retain a lawyer to advise you. 
</p>

<h2>CONFIDENTIALITY</h2>

<p>
    Only LawSpot’s administrators will be able to view the personal information you provide us with
    when you register to ask a question on the Website. LawSpot’s administrators must
    treat this information as confidential and can only use it for the limited purposes set out in
    the <a href="/privacy-policy">Privacy Policy</a>.
</p>

<p>
    Only LawSpot’s administrators and the CLWHV supervisors will be able to view the personal information you provide us with when you register as a lawyer volunteer on the Website. LawSpot’s administrators and the CLWHV supervisors must treat this information as confidential and can only use it for the limited purposes set out in the Privacy Policy.
    LawSpot will not publish the identity of a user or a lawyer volunteer on the Website. Your
    identity is protected, and the fact that you have submitted or answered a question (as the case
    may be) is confidential as between LawSpot and you. All answers to questions are published
    under Community Law Wellington & Hutt Valley and are not linked to individual lawyers.
</p>

<p>
    When you submit a question on the Website, you will be asked to tick a box that asks if you
    agree to the Website’s Terms of Use. By ticking this box, you understand that your question and
    the answer will be published on the Website for public view. Accordingly, you waive your right
    to claim confidentiality over the content of your question and the answer provided. No
    liability whatsoever is accepted by the authors or the publishers, for loss, damage or
    inconvenience arising in any way from your use of the Website.
</p>

<h2>PRIVACY</h2>

<p>
    Please review our <a href="/privacy-policy">Privacy Policy</a>, which forms part of these Terms
    of Use. By using the Website you accept the terms of our <a href="/privacy-policy">Privacy
    Policy</a>, as amended from time to time.
</p>


<h2>THIRD PARTY LINKS AND REFERENCES</h2>

<p>
    All links and references to websites, organisations or people not within LawSpot are provided
    for the user’s convenience only, and should not be taken as endorsement of those websites, or
    of the information contained in those websites, nor of organisations or people referred to.
    LawSpot has no control over the content of any such websites or the policies of any such
    organisation. LawSpot also does not implicitly or impliedly endorse any website or organisation
    which (or person who) has off-site links to this website. Further, LawSpot has no control over
    the availability of the linked pages.
</p>

<h2>COMPLAINTS PROCEDURE</h2>

<h3>Purposes</h3>
<ul>
    <li>To provide a fair and timely process to resolve complaints about LawSpot.</li>
    <li>To ensure that a quality service is provided to users of the Website.</li>
    <li>To ensure that risks to LawSpot are identified and managed appropriately.</li>
    <li>To ensure that all parties are protected by an explicit and clear procedure.</li>
</ul>

<h3>When will this procedure be used?</h3>
<p>This procedure should be used for every complaint made about LawSpot, its operations, its staff (including CLWHV supervisors of LawSpot) or its volunteers (whether performing the role of a question vetter or of a lawyer answering submitted questions).</p>

<h3>Principles</h3>
<p>The principles of natural justice apply to this procedure. This includes the right to be treated fairly and to state your side of events. Complaints will be taken seriously and the complainants will be treated with respect and courtesy. LawSpot will seek to resolve the complaint at the earliest stage and to learn from the complaint so that, where appropriate, action can be taken to ensure the situation does not happen again.</p>

<h3>Making a complaint</h3>
<ul>
    <li>Any person who has a complaint and who does not wish to resolve it informally can raise it with a member of LawSpot’s Management Team, by emailing complaint@lawspot.org.nz.</li>
    <li>A complaint can be made through a representative. If the complainant wishes to remain anonymous, his or her request for anonymity will be considered by LawSpot’s Privacy Officer in accordance with Part 4 of the Privacy Act 1993 – ‘Good reasons for refusing access to personal information’.</li>
</ul>

<h3>Investigating the complaint</h3>
<ul>
    <li>Once the complaint has been checked it should be passed on to the General Manager of the CLWHV or to a CLWHV Supervisor of LawSpot.</li>
    <li>The General Manager or a CLWHV Supervisor of LawSpot (“CLWHV representative”) will contact the complainant as soon as possible to acknowledge the complaint.</li>
    <li>The CLWHV representative will explain the complaints procedure to the complainant and if the complainant wishes, will send to them a copy of the complaints procedure.  The CLWHV representative will also clarify the complainant’s concerns, discuss how the complainant believes the complaint can be resolved and agree on timeframes.</li>
    <li>The CLWHV representative will then contact the party or parties being complained about, put the complaint to them, ask them for their interpretation of the situation and how they think the issue can be resolved.  Where the CLWHV representative deems it to be appropriate he or she may request that the person put their comments into writing.</li>
    <li>The CLWHV representative will conduct any other investigations as are necessary.</li>
    <li>If the complaint is able to be resolved in a way that satisfies everyone involved, the CLWHV representative will ensure that any required action is taken. The CLWHV representative will then write to the complainant and to the other party or parties confirming the CLWHV’s understanding that the complaint has been resolved.</li>
    <li>Where a mutual process of resolution is not possible the CLWHV representative will make a recommendation to the CLWHV Management Committee as to how he or she believes the complaint should be resolved. The CLWHV Management Committee will consider the matter at its next meeting and decide what further steps will be taken to address the complaint. The CLWHV Management Committee must invite an additional member of LawSpot’s Management Team to this meeting and take into account his or her views.</li>
</ul>

<h3>New Zealand Law Society</h3>
<p>If you have tried using this procedure to make a complaint against a lawyer and it has proven unsatisfactory, you can also make a complaint against a lawyer to the Law Society’s Lawyers Complaints Service by phoning 0800 261 801, emailing complaints@lawsociety.org.nz, or writing to PO Box 494, Wellington 6140. More information about the Lawyers Complaints Service can be found here.</p>

<h3>Records</h3>
<p>Information relating to complaints will be kept for the purposes of monitoring the quality of service being provided.  Any party to the complaint has the right to access and correct their personal information, in accordance with the Privacy Act 1993.<p>


<h2>COPYRIGHT</h2>

<p> When you access the LawSpot website you agree that you will not: </p>
<ul>
    <li>
        change any information copied from the Website unless you have prior permission from
        LawSpot; and
    </li>
    <li>
        use material, text or images used on the LawSpot website for commercial purposes unless you
        have prior written permission from LawSpot.
    </li>
</ul>

<h2>UPDATES</h2>

<p>From time to time, we make changes to the Website’s terms of use. We always update this statement accordingly, so we encourage you to periodically review this page for the latest information on our terms of use.</p>

<h2>QUESTIONS?</h2>

<p>If you have any questions about these terms or any other matter, please contact us at support@lawspot.org.nz.</p>

<p>Last Updated: 30 June 2012.</p>
