<h1>Terms of Use</h1>

<h2>FOR THE PUBLIC</h2>

<ol start="1">
    <li>
        Each time you use LawSpot to submit a question or review other answered questions, you confirm that you have read these terms and conditions
        carefully and that you accept the terms of use set out below. If you do not accept these terms, LawSpot encourages you to seek advice from your local
        Community Law Centre or retain a lawyer to advise you.
    </li>
</ol>

<h3>How the website works</h3>

<ol start="2">
    <li>
        LawSpot links lawyers and members of the public requiring legal assistance. LawSpot provides the platform for its partners to give legal assistance
        to members of the public. All questions are answered by LawSpot’s partner lawyers (identified next to each answer) and not by LawSpot itself.
    </li>
</ol>

<h3>Limitations of Advice</h3>

<ol start="3">
    <li>
        The answers published on LawSpot cannot be considered a substitute for face-to-face legal advice. If you submit a particularly complex or specific
        question, LawSpot may refer you to one of its partner lawyers. You may also be able to seek advice from your local <a href="http://communitylaw.org.nz/">
        Community Law Centre</a>. You should never rely on the information provided in any answers on LawSpot as the sole basis for taking action in relation
        to a legal issue. This IMPORTANT NOTICE is included as part of every answer published on LawSpot, as a reminder to users of the limitations of the answer.
    </li>
</ol>

<h3>Inappropriate Questions</h3>

<ol start="4">
    <li>
        LawSpot also reserves the right to refuse to answer a question if a LawSpot administrator considers that the question:
        <ol type="a">
            <li>
                has already been asked and answered on LawSpot (in which case LawSpot will direct you to the question on the website);
            </li>
            <li>
                contains objectionable or offensive material;
            </li>
            <li>
                is too complex or specific in nature (in which case LawSpot will provide you with a list of LawSpot’s partner lawyers who will be able to help);
            </li>
            <li>
                contains information that would place any person at risk of being personally identified;
            </li>
            <li>
                is not about New Zealand law;
            </li>
            <li>
                may itself be in breach of New Zealand law - including the laws of contempt, breach of confidence, breach of privacy, and defamation;
            </li>
            <li>
                otherwise inappropriate or unable to be answered by LawSpot.
            </li>
        </ol>
    </li>
</ol>

<h3>Modify your question</h3>

<ol start="5">
    <li>
        When you submit your question, LawSpot’s administrators will remove any personal or identifying information from your question before it is made
        available for lawyers to answer. LawSpot may also modify any inappropriate question (see paragraph 4) that might otherwise be rejected so that it can
        be made available for lawyers to answer.
    </li>
</ol>

<h3>Time it takes to answer a question</h3>

<ol start="6">
    <li>
        LawSpot will endeavour to make your question available to lawyers to answer as soon as possible. However, LawSpot makes no guarantees as to whether
        one of its partner lawyers will answer your question. If your question is not answered within three working days, LawSpot will email you offering to
        refer you to one of its partner lawyers. You will also be given the option to resubmit your question and LawSpot will continue to make it available for
        its partner lawyers to answer. If your question is urgent, we encourage you to contact a lawyer, a LawSpot partner lawyer or your local
        <a href="http://communitylaw.org.nz/">Community Law Centre</a> to find out about options for face-to-face advice. LawSpot accepts no liability for
        delays in answering your question.
    </li>
</ol>

<h3>Relevance of advice</h3>

<ol start="7">
    <li>
        A LawSpot lawyer can only give you advice based on the law as at the time they answer your question. A LawSpot lawyer will be under no obligation to
        give you any new information relevant to your question that they become aware of after they have published their answer to your question. This means
        that if a LawSpot lawyer, after answering your question, becomes aware of information that could assist you in dealing with your particular legal
        issue, that lawyer may not share that further information with you, even if this non-disclosure could have negative implications for your own legal
        position. LawSpot has a quality control process to ensure that the quality on the website is up to date. While we endeavour to update frequently, me
        make no guarantee of the accuracy of the content.
    </li>
</ol>

<h3>Confidentiality</h3>

<ol start="8">
    <li>
        Only LawSpot’s administrators will be able to view the personal information you provide us when you register to ask a question on the Website.
        LawSpot’s partner lawyers will not be able to see this information. LawSpot’s administrators must treat this information as confidential and can only
        use it for the limited purposes set out in the <a href="/privacy-policy">Privacy Policy</a>
    </li>

    <li>
        The identity of a user will never be published on LawSpot. Your identity is protected, and the fact that you have submitted a question is
        confidential as between LawSpot and you.
    </li>
    <li>
        While LawSpot’s administrators will make all efforts to remove all identifying information from questions, your question and the answer will be
        published on LawSpot for public view. Accordingly, you waive your right to claim confidentiality over the content of your question and the answer
        provided.
    </li>
</ol>

<h3>Third party links and references</h3>

<ol start="11">
    <li>
        All links and references to websites, organisations or people not within LawSpot (including links to LawSpot’s partner lawyers) are provided for
        the user’s convenience only, and should not be taken as endorsement of those websites, or of the information contained in those websites, nor of
        organisations or people referred to. LawSpot has no control over the content of any such websites or the policies of any such organisation. LawSpot
        also does not implicitly or impliedly endorse any website or organisation which (or person who) has off-site links to this website. Further, LawSpot
        has no control over the availability of the linked pages.
    </li>
</ol>

<h3>Disclaimer</h3>

<ol start="12">
    <li>
        The Website is intended as a forum where users can post general questions about New Zealand law and have their questions answered online by
        qualified lawyers. It is intended for general informational purposes and as a first port of call only and is not intended to be comprehensive.
    </li>
    <li>
        No liability whatsoever is accepted by LawSpot or LawSpot’s volunteer lawyers, for loss, damage or inconvenience arising in any way from your use
        of LawSpot.
    </li>
    <li>
        While every effort has been made to ensure the accuracy of the contents of this website, no liability whatsoever is accepted by LawSpot or any of
        LawSpot volunteer lawyers, for loss, damage or inconvenience consequent upon any error or omission, or arising in any way from the use of this site.
        LawSpot and its volunteer lawyers endeavour to provide a high quality service. However, we cannot guarantee that our service will be uninterrupted or
        error-free.
    </li>
</ol>

<h3>Complaints Procedure</h3>

<ol start="15">
    <li>
        LawSpot’s complaints procedure can be viewed at the following <a href="#complaints">link</a>.
    </li>
</ol>

<h3>Copyright</h3>

<ol start="16">
    <li>
        All answers published on LawSpot are published subject to a <a href="https://creativecommons.org/licenses/by-nc/3.0/nz/deed.en">Creative Commons
        Attribution-Noncommercial 3.0 New Zealand (BY-NC) licence</a>.
    </li>
    <li>
        All other data and information on the LawSpot website is copyright of LawSpot.
    </li>
    <li>
        When you access LawSpot’s website you agree:
        <ol type="a">
            <li>
                to abide by the terms of the Creative Commons Attribution-Noncommercial 3.0 New Zealand (BY-NC) licence; and
            </li>
            <li>
                not to use material, text or images used on the LawSpot website for commercial purposes unless you have prior written permission from LawSpot.
            </li>
        </ol>
    </li>
</ol>

<h3>Updates</h3>

<ol start="19">
    <li>
        From time to time, we make changes to these terms of use. We always update this statement accordingly, so we encourage you to periodically review
        this page for the latest information on our terms of use.
    </li>
</ol>

<h3>Questions</h3>

<ol start="20">
    <li>
        If you have any questions about these terms or any other matter, please contact us at support@lawspot.org.nz.
    </li>
</ol>

<p>
    Last updated: September 2015
</p>

<h2>FOR LAWYERS</h2>

<h3>How the website works</h3>

<ol start="1">
    <li>
        LawSpot links lawyers and members of the public requiring legal assistance. LawSpot provides the platform for its partners to give legal assistance
        to members of the public. All questions are answered by LawSpot’s partner lawyers (identified next to each answer) and not by LawSpot itself
    </li>
    <li>
        By registering for an account on LawSpot, you agree to all of the terms and conditions below.
    </li>
</ol>

<h3>Rules of Client Care and Conduct</h3>

<ol start="3">
    <li>
        Notwithstanding anything to the contrary in these terms and conditions, you agree to comply with the professional obligations including the Rules of
        Client Care and Conduct at all times when providing any answers on LawSpot or receiving any referrals.
    </li>
</ol>

<h3>Publishing answers on LawSpot</h3>

<ol start="4">
    <li>
        You will only be able to publish an answer on LawSpot if you have a certificate issued by the New Zealand Law Society to practice on your own
        account (<strong>Publisher</strong>). By publishing an answer on the site you warrant that you continue to hold a certificate issued by the New Zealand
        Law Society to practice on your own account. Answers may be drafted by someone else (including other Barristers and Solicitors of the High Court of New
        Zealand) provided that they are published by a Publisher.
    </li>
</ol>

<h3>Requirements for publishing answers</h3>

<ol start="5">
    <li>
        Any answer that you draft or publish on LawSpot must:
        <ol type="a">
            <li>
                be provided pro-bono and you must not attempt to charge a member of the public unless they accept a referral in accordance with paragraph 7 below;
            </li>
            <li>
                be generic in nature so as to be of use to other members of the public accessing the site; and
            </li>
            <li>
                be of a standard and quality that you would provide to your ordinary fee paying clients.
            </li>
        </ol>
    </li>
    <li>
        LawSpot also requires that you provide references to any cases or legislation relied upon in providing your answer in the “notes” section of the
        question. This will be used by LawSpot for internal auditing purposes to update answers following law changes.
    </li>
</ol>

<h3>Referrals</h3>

<ol start="7">
    <li>
        All LawSpot partner lawyers can opt into accepting referrals from members of the public who require more specific legal advice. If you opt into
        receiving referrals, you agree to treat such referral as you would any member of the public that approaches you for legal advice. LawSpot’s
        administrators will endeavour to understand the nature of a user’s legal issue and only refer them to partner lawyers with relevant expertise to answer
        the legal question.
    </li>
</ol>

<h3>Freedom to choose answers</h3>

<ol start="8">
    <li>
        No lawyer registered to LawSpot is under any obligation to provide any answers on the website or accept any referrals.
    </li>
</ol>

<h3>Liability</h3>

<ol start="9">
    <li>
        You shall be solely liable for all answers that you publish on the website or any legal advice that you give to any person referred to you and you
        shall indemnify LawSpot for all losses and liabilities arising as a result of any third party claims made against LawSpot in relation to any such
        answers published or referrals accepted (<strong>Third Party Claim</strong>).
    </li>
</ol>

<h3>Third party claims</h3>

<ol start="10">
    <li>
        In the event of any Third Party Claim, LawSpot shall notify you as soon as practicable and, to the extent permitted by law, permit you to handle
        all negotiations for settlement and control any direct litigation provided that you:
        <ol type="a">
            <li>
                use competent counsel;
            </li>
            <li>
                conduct all negotiations for settlement and any direct litigation in a manner that does not adversely affect the name or reputation of LawSpot; and
            </li>
            <li>
                keep LawSpot informed of the defence of the Third Party Claim and do not enter into any settlement or compromise in relation to the Third Party
                Claim without the consent of LawSpot (which not must be unreasonably withheld).
            </li>
        </ol>
    </li>
</ol>

<h3>Intellectual property</h3>

<ol start="11">
    <li>
        You (or your firm) will retain ownership of any intellectual property in all answers published by you on LawSpot but you agree that all answers are
        published subject to a Creative Commons Attribution-Noncommercial 3.0 New Zealand (BY-NC) licence. <strong></strong>
    </li>
    <li>
        All other data and information on the LawSpot website is copyright of LawSpot.
    </li>
</ol>

<h3>Association</h3>

<ol start="13">
    <li>
        LawSpot may advertise its partner firms on its website or in any media releases from time to time and may provide links to its partner firm website
        on the LawSpot website where that partner firm accepts referrals.
    </li>
</ol>

<h3>Training and support</h3>

<ol start="14">
    <li>
        LawSpot can provide training materials for you on request relating to LawSpot’s policies and the using the Website. LawSpot can provide support to
        you upon request to support@awspot.org.nz.
    </li>
</ol>

<h3>Disputes</h3>

<ol start="15">
    <li>
        If any dispute or difference arises between you and LawSpot that cannot be resolved by active, open and good faith discussion, either party may
        refer the dispute to mediation. If a dispute is referred to mediation, the mediation will be conducted:
        <ol type="a">
            <li>
                by a single mediator agreed by the parties or if they cannot agree, appointed by the Chair of LEADR NZ Inc.;
            </li>
            <li>
                on the terms of the LEADR NZ Inc. standard mediation agreement, and
            </li>
            <li>
                at a fee to be agreed by the parties or if they cannot agree, at a fee determined by the Chair of LEADR NZ Inc.
            </li>
        </ol>
    </li>
    <li>
        Each party will pay its own costs of mediation under paragraph 15. Each party agrees not to start any court action in relation to a dispute until
        it has used its best endeavours to resolve the dispute through mediation as agreed between the parties, unless court action is necessary to preserve a
        party's rights.
    </li>
</ol>


<h2 id="complaints">COMPLAINTS PROCEDURE</h2>

<h3>Purposes</h3>

<ol start="1">
    <li>
        The purpose of this Complaints Procedure is to:
        <ol type="a">
            <li>
                provide a fair and timely process to resolve complaints about LawSpot.
            </li>
            <li>
                ensure that a quality service is provided to users of LawSpot.
            </li>
            <li>
                ensure that risks to LawSpot are identified and managed appropriately.
            </li>
            <li>
                ensure that all parties are protected by an explicit and clear procedure.
            </li>
        </ol>
    </li>
</ol>

<h3>When will this procedure be used?</h3>

<ol start="2">
    <li>
        This procedure will be used for every complaint made about LawSpot, its operations, its partner law firms and lawyers, or any of its volunteers.
    </li>
</ol>

<h3>Principles</h3>

<ol start="3">
    <li>
        The principles of natural justice apply to this procedure. This includes the right to be treated fairly and to state your side of events. Complaints
        will be taken seriously and the complainants will be treated with respect and courtesy. LawSpot will seek to resolve the complaint at the earliest stage
        and to learn from the complaint so that, where appropriate, action can be taken to ensure the situation does not happen again.
    </li>
</ol>

<h3>Making a complaint</h3>

<ol start="4">
    <li>
        Any person who wishes to make a formal complaint can raise it with a member of LawSpot’s Management Team, by emailing complaint@lawspot.org.nz.
    </li>
    <li>
        A complaint can be made through a representative but the release of any personal information may be restricted unless LawSpot receives written
        confirmation that the representative has the complainant’s consent to access such personal information.
    </li>
</ol>

<h3>Investigating the complaint</h3>

<ol start="6">
    <li>
        LawSpot’s executive team will investigate the complaint in the first instance.
    </li>
    <li>
        If the complaint is about a particular answer or particular advice provided on LawSpot, the complaint will be passed on to the publisher of that
        particular answer.
    </li>
    <li>
        The name of the publisher will appear next to the published answer on the website. The publisher will be one of LawSpot’s partner law firms or lawyers.
    </li>
    <li>
        LawSpot will assist in the handling of complaints about LawSpot’s partner firms and lawyers. As such, references to “LawSpot” below include partners of
        LawSpot’s partner law firms or lawyers holding individual practicing certificates, as the context requires.
    </li>
    <li>
        LawSpot will:
        <ol type="a">
            <li>
                contact the complainant as soon as possible to acknowledge the complaint;
            </li>
            <li>
                explain the complaints procedure to the complainant and, if the complainant wishes, will send to them a copy of the complaints procedure;
            </li>
            <li>
                clarify the complainant’s concerns, discuss how the complainant believes the complaint can be resolved, and agree on timeframes;
            </li>
            <li>
                contact the party or parties being complained about, put the complaint to them, and ask them for their interpretation of the situation and how they
                think the issue can be resolved; and
            </li>
            <li>
                conduct any other investigations as are necessary.
            </li>
        </ol>
    </li>
    <li>
        If the complaint is able to be resolved in a way that satisfies everyone involved, LawSpot will ensure that any required action is taken. LawSpot will
        then write to the complainant and to the other party or parties confirming the understanding that the complaint has been resolved.
    </li>
    <li>
        Where a complaint concerning a LawSpot partner firm is not resolved, the complainant may refer his or her complaint to the New Zealand Law Society.
        Where LawSpot’s partner lawyer has a complaints policy you can contact that partner lawyer to request a copy of their complaints policy.
    </li>
</ol>

<h3>New Zealand Law Society</h3>

<ol start="13">
    <li>
        If you have tried using this procedure to make a complaint against a lawyer and it has proven unsatisfactory, you can also make a complaint against a
        lawyer to the Law Society’s Lawyers Complaints Service by phoning 0800 261 801, emailing complaints@lawsociety.org.nz, or writing to PO Box 494, Wellington
        6140. More information about the Lawyers Complaints Service can be found <a href="https://www.lawsociety.org.nz/for-the-community/lawyers-complaints-service">here</a>.
    </li>
</ol>

<h3>Records</h3>

<ol start="14">
    <li>
        Information relating to complaints will be kept by LawSpot in accordance with LawSpot’s <a href="/privacy-policy">Privacy Policy</a>.
    </li>
</ol>
