<h1>Terms of Use</h1>

<h2>Terms of Use — Disclaimer</h2>

<p>
    While every effort has been made to ensure the accuracy of the contents of this website, no
    liability whatsoever is accepted by the authors or publishers, for loss, damage or
    inconvenience consequent upon any error or omission, or arising in any way from the use of this
    site. LawSpot endeavours to provide a service of the highest quality. However, we cannot
    guarantee that our service will be uninterrupted or error-free.
</p>

<p>
    The LawSpot website (the Website) is intended as a forum where users can post general questions
    about New Zealand law and have their questions answered online by qualified lawyers. It is
    intended for general informational purposes only and is not intended to be comprehensive.
    LawSpot is intended as a first port of call to help its users determine whether the issue they
    have is a legal issue and sufficiently general to be addressed through LawSpot.
</p>

<p>
    The answers published on the Website cannot be considered a substitute for personal legal
    advice specific to a user’s particular circumstances. If you have a particularly complex or
    specific question, you may be directed to seek personal legal advice from a Community Law
    Centre, or to retain a lawyer to advise you. You should always seek personal legal advice from
    a lawyer before taking any action in relation to a legal issue. You should never rely on the
    information provided in our answers as a basis for taking action. More information about the
    limitations to the answers published on the Website can be found in this
    <a href="/important-notice">IMPORTANT NOTICE</a>.  This notice is also included as part of
    every answer published on the Website, as a reminder to users.
</p>

<p>
    LawSpot reserves the right to refuse to answer a question if LawSpot administrators consider
    that the question:
</p>
<ul>
    <li>has already been asked and answered on the Website;</li>
    <li>contains objectionable or offensive material;</li>
    <li>is too complex or specific in nature; or</li>
    <li>contains information that would place the user at risk of being personally identified.</li>
</ul>

<p>
    LawSpot also reserves the right to modify (through its administrators) any question that might
    otherwise be rejected for any of the above reasons so that it can be made available for lawyers to answer.

<p>
    Lawyers registered with LawSpot are engaged on a pro bono basis and, as stipulated in the
    <a href="/terms-of-engagement">LawSpot Pro Bono Terms of Engagement</a>, are covered by the
    indemnity offered to all Wellington Community Law Centre volunteers in their provision of
    community legal services through answering questions on LawSpot.
</p>

<p>
    LawSpot will endeavour to have the user’s question answered within 1–2 business days, however
    it may take longer depending on the complexity of the question and the subject matter in issue.
</p>


<h2>Confidentiality</h2>

<p>
    Only LawSpot’s administrators will be able to view the personal information you provide us with
    when you register (whether as a user or as a lawyer volunteer). LawSpot’s administrators must
    treat this information as confidential and can only use it for the limited purposes set out in
    the <a href="/privacy-policy">Privacy Policy</a>.
</p>

<p>
    LawSpot will not publish the identity of a user or a lawyer volunteer on the Website. Your
    identity is protected, and the fact that you have submitted or answered a question (as the case
    may be) is confidential as between LawSpot and you. All answers to questions are published
    under the Wellington Community Law Centre and are not linked to individual lawyers.
</p>

<p>
    LawSpot’s lawyer volunteers will not be able to identify who has submitted a particular
    question, and will only be able to view a question once it has been vetted by LawSpot
    administrators and categorised into the applicable area of law. User anonymity is protected in
    order to prevent lawyer volunteers from being conflicted out of answering some users’
    questions.
</p>

<p>
    When you submit a question on the Website, you will be asked to tick a box that asks if you
    agree to the Website’s Terms of Use. By ticking this box, you understand that your question and
    the answer will be published on the Website for public view. Accordingly, you waive your right
    to claim confidentiality over the content of your question and the answer provided. No
    liability whatsoever is accepted by the authors or the publishers, for loss, damage or
    inconvenience consequent upon the question and answer being made public once you have indicated
    that you agree to share your answer with other users of the Website.
</p>

<h2>Privacy</h2>

<p>
    Please review our <a href="/privacy-policy">Privacy Policy</a>, which forms part of these Terms
    of Use. By using the Website you accept the terms of our <a href="/privacy-policy">Privacy
    Policy</a>, as amended from time to time.
</p>


<h2>Third party links and references</h2>

<p>
    All links and references to websites, organisations or people not within LawSpot are provided
    for the user’s convenience only, and should not be taken as endorsement of those websites, or
    of the information contained in those websites, nor of organisations or people referred to.
    LawSpot has no control over the content of any such websites or the policies of any such
    organisation. LawSpot also does not implicitly or impliedly endorse any website or organisation
    which (or person who) has off-site links to this website. Further, LawSpot has no control over
    the availability of the linked pages.
</p>


<h2>Copyright</h2>

<p> When you access the LawSpot website you agree that you will not: </p>
<ul>
    <li>
        change any information copied from the Website unless you have prior permission from
        LawSpot; and
    </li>
    <li>
        use material, text or images used on the LawSpot website for commercial purposes unless you
        have prior written permission from LawSpot.
    </li>
</ul>