.topic {
    float: left;
    width: 20%;
}
.ask {
    margin-bottom: 45px;
}
input.ask-textbox {
    border: 2px solid #918F90;
    width: 390px;
    height: 52px;
    border-radius: 6px;
    padding: 0 16px;
    margin-right: 4px;
    vertical-align: middle
}
.ask-button {
    width: 160px;
    height: 52px;
    font-size: 22pt;
    vertical-align: middle;
}
.question {
    margin: 22px 0;
}
.question .title, .question .details, .question .asked {
    margin: 6px 0;
}
.question .asked {
    font-size: smaller;
}

/* Top categories box */
.top-categories {
    list-style: none;
    padding: 0;
    width: 50%;
    float: left;
    font-size: smaller;
}
.top-categories li {
    padding-bottom: 8px;
}
.see-all-categories {
	font-size: 0.8em;
	text-align: right;
}