{{Model Lawspot.Views.Account.RegisterViewModel}}

<h1> Register </h1>

<section class="sidebar" id="register-sidebar">
    <h3> Why do I have to register to ask a question? </h3>
    <p>
        We require your email address so that we can notify you when your question has been
        answered. Your email address will never be published online or shared with our lawyer
        volunteers - your identity will be protected at all times. We need to know which region
        you live in so that we can connect you to community legal services convenient to you.
    </p>
            	
    <section>
        <h2> Are you a lawyer? </h2>
        <img class="lawyer" src="/views/account/register/lawyer.png">
        <p>
            Help the community and grow your practice!
            <a href="/lawyer-register">Register as a lawyer</a>.
        </p>
        <p>
            Already registered?  <a href="/login">Login here</a>.
        </p>
    </section>
</section>

<form method="post" action="/register" class="container-form">
    <input name="RedirectUrl" type="hidden" value="{{RedirectUrl}}" />

    <div class="left">
        <div class="field-label">
            <label for="EmailAddress"> Email address: </label>
            <span class="required">*</span>
        </div>
        <div class="offset-field">
            <input id="EmailAddress" name="EmailAddress" type="text" value="{{EmailAddress}}" maxlength="256" autofocus
                {{#ModelState.EmailAddress}}class="validation-error-field"{{/ModelState.EmailAddress}} />
            <div class="validation-error">{{ModelState.EmailAddress}}</div>
        </div>

        <div class="field-label">
            <label for="Password"> Password: </label>
            <span class="required">*</span>
        </div>
        <div class="offset-field">
            <input id="Password" name="Password" type="password" value="{{Password}}" maxlength="100"
                {{#ModelState.Password}}class="validation-error-field"{{/ModelState.Password}} />
            <div class="validation-error">{{ModelState.Password}}</div>
        </div>

        <div class="field-label">
            <label for="ConfirmPassword"> Confirm password: </label>
            <span class="required">*</span>
        </div>
        <div class="offset-field">
            <input id="ConfirmPassword" name="ConfirmPassword" type="password" value="{{ConfirmPassword}}" maxlength="100"
                {{#ModelState.ConfirmPassword}}class="validation-error-field"{{/ModelState.ConfirmPassword}} />
            <div class="validation-error">{{ModelState.ConfirmPassword}}</div>
        </div>

        <div class="field-label">
            <label for="RegionId"> Region: </label>
            <span class="required">*</span>
        </div>
        <div class="offset-field">
            <select id="RegionId" name="RegionId">
                {{#Regions}}
                    <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
                {{/Regions}}
            </select>
        </div>

        <div class="field-label">
            <label for="CommunityServicesCardNumber"> Community Services Card Number: </label>
        </div>
        <div class="offset-field">
            <input id="CommunityServicesCardNumber" name="CommunityServicesCardNumber" type="text" value="{{CommunityServicesCardNumber}}" maxlength="20"
                {{#ModelState.CommunityServicesCardNumber}}class="validation-error-field"{{/ModelState.CommunityServicesCardNumber}} />
            <div class="validation-error">{{ModelState.CommunityServicesCardNumber}}</div>
            {{^ModelState.CommunityServicesCardNumber}}
            <small> If you have a community services card, enter the client number here and you will receive priority service. </small>
            {{/ModelState.CommunityServicesCardNumber}}
        </div>

        <div class="offset-field">
            <label>
                <input id="Agreement" name="Agreement" type="checkbox" {{#Agreement}}checked{{/Agreement}} value="true"
                    {{#ModelState.Agreement}}class="validation-error-field"{{/ModelState.Agreement}} />
                I agree to the
            </label>
            <a href="/terms" target="_blank">Terms and Conditions</a>
            <div class="validation-error">{{ModelState.Agreement}}</div>
        </div>

        <div class="offset-field">
            <button type="submit">REGISTER</button>
        </div>

        <div class="offset-field privacy-message">
            <img src="/shared/images/lock.png" width="22" height="27" alt="" class="privacy">
            Your information is safe with us.
        </div>

    </div>
    <div style="clear:both;"></div>
</form>