<h1>Ask A Lawyer</h1>
		
<img src="/views/ask/questionsubmit.jpg" width="430" height="385" alt="" id="qsubmit-image" />
		
<div id="qsubmit-divider"><!--triangle image --></div>
		
<section>
	<form method="post" id="qsubmit1">
		<div class="qsubmit-field">
			<span class="char-count">150 characters remaining</span>
			<label for="YourQuestion">Your Question: </label>
			<span class="required">*</span><br />
			<input id="YourQuestion" name="YourQuestion" type="text" value="{{YourQuestion}}" maxlength="150" autofocus
				    {{#ModelState.YourQuestion}}class="validation-error-field"{{/ModelState.YourQuestion}} />
			<div class="validation-error">{{ModelState.YourQuestion}}</div>
		</div>
			
		<div class="qsubmit-field">
			<span class="char-count">600 characters remaining</span>
			<label for="QuestionDetails">Question Details: </label>
			<span class="required">*</span><br />
			<textarea id="QuestionDetails" name="QuestionDetails" rows="6"></textarea>
			<div class="validation-error">{{ModelState.QuestionDetails}}</div>
		</div>
			
		<div class="qsubmit-field">
			<div class="field-label">
				<label for="Category">Category: </label>
				<span class="required">*</span>
			</div>
			<div class="offset-field">
				<select id="Category" name="Category">
					<option>Select category</option>
				</select>
				<div class="validation-error">{{ModelState.Category}}</div>
			</div>
		</div>
			    
		<div class="qsubmit-field">
			<div class="offset-field">
				<label>
					<input id="Agreement" name="Agreement" type="checkbox" {{#Agreement}}checked{{/Agreement}} value="true"
					        {{#ModelState.Agreement}}class="validation-error-field"{{/ModelState.Agreement}} />
					<small>I agree to the <a href="/terms" target="_blank">Terms and Conditions</a> and for my question to be publicly available online (see our <a href="#" target="_blank">Privacy Policy</a>).</small>
				</label>
				<div class="validation-error">{{ModelState.Agreement}}</div>
			</div>
		</div>
				    
		<div class="qsubmit-button">
			<button>CONTINUE &raquo;</button>
		</div>
		</form>
</section>