<div id="admin-layout">

    <section class="admin-sidebar">
    		<h1>Community Law Centre Admin Page</h1>
    		<a href="/logout">Logout</a>
    		<ul class="list-arrows">
    			<li><a href="/admin/approve-lawyers">View Lawyers</a></li>
    			<li><a href="/admin/review-answers">View Answers</a></li>
    			<li><a href="/admin/review-questions">View Questions</a></li>
    			<li><a href="#">Account Settings</a></li>
    		</ul>
		</section>
    	
    <section class="admin-body">

	    {{Content}}

    </section>

</div>