<div id="admin-layout">

    <section class="admin-sidebar">

    		<ul class="list-arrows">
                <li><a href="/admin/activity-stream">Profile</a></li>
                <li><a href="/admin/account-settings">Account Settings</a></li>
                {{#User.CanPublish}}
                    <li><a href="/admin/public-profile">Public Profile</a></li>
                {{/User.CanPublish}}
            </ul>
            
            <hr />
            
            <ul class="list-arrows">
                {{#User.CanVetQuestions}}
    			    <li><a href="/admin/review-questions">Vet Questions</a></li>
                {{/User.CanVetQuestions}}
                {{#User.CanAnswerQuestions}}
                    <li><a href="/admin/answer-questions">Answer Questions</a></li>
                {{/User.CanAnswerQuestions}}
                {{#User.CanVetAnswers}}
    			    <li><a href="/admin/review-answers">Review Answers</a></li>
                {{/User.CanVetAnswers}}
                {{#User.CanVetLawyers}}
    			    <li><a href="/admin/review-lawyers">View Lawyers</a></li>
                {{/User.CanVetLawyers}}
                {{#User.CanAnswerQuestions}}
                    <li><a href="/admin/leaderboard">Leaderboard</a></li>
                {{/User.CanAnswerQuestions}}
                {{#User.CanAdminister}}
                    <li><a href="/admin/view-users">Administer Users</a></li>
    		        <li><a href="/admin/admin">Administer Site</a></li>
                {{/User.CanAdminister}}
    		</ul>

            <hr />

            <ul class="list-arrows">
    	        <li><a href="/contact">Contact Us</a></li>
    	        <li><a href="/faq">LawSpot FAQ</a></li>
                {{#User.CanAnswerQuestions}}
                    <li><a href="/lawyer-policy">Policy for Lawyers</a></li>
                {{/User.CanAnswerQuestions}}
                {{#User.CanVetQuestions}}
                    <li><a href="/admin/vetter-policy">Policy for Question Vetters</a></li>
                {{/User.CanVetQuestions}}
                {{#User.CanAnswerQuestions}}
                    <li><a href="/admin/reference-materials">Reference Materials</a></li>
                {{/User.CanAnswerQuestions}}
                <li><a href="/admin/terminology">Terminology</a></li>
            </ul>
		</section>
    	
    <section class="admin-body">

	    {{Content}}

    </section>

</div>