#admin-layout {
    margin: -20px;
    border-radius: 4px;
    min-height: 540px;
	padding: 0;
	background: #EBEDEC url(/views/admin/sidebar.png) left repeat-y;
}
.admin-sidebar {
	width: 178px;
	padding: 15px 20px 15px 15px;
	float: left;
}
.admin-sidebar h1 {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 5px;
}
.admin-sidebar ul.list-arrows {
	margin: 25px 0 25px 15px;
	margin: 15px 30px;
	padding: 0;
}
.admin-sidebar ul.list-arrows li {
	margin-bottom: 20px;
	list-style-image: url(/views/admin/list-arrow.png);
	margin-bottom: 10px;
}
.admin-sidebar ul.list-arrows li a {
	color: #306288;
}
.admin-body {
	width: 710px;
	margin-left: 230px;
	padding: 5px 0 20px;
}