#admin-layout {
    margin: -20px -30px;
    border-radius: 4px;
    min-height: 540px;
	padding: 0;
	background: #EBEDEC url(/views/admin/sidebar.png) left repeat-y;
}
.admin-sidebar {
	width: 178px;
	padding: 15px 20px 15px 15px;
	float: left;
}
.admin-sidebar h1 {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 5px;
}
.admin-sidebar ul.list-arrows {
	margin-left: 15px;
}
.admin-sidebar hr {
    margin-top: 10px;
}
.admin-body {
	margin-left: 230px;
	padding: 20px 20px 20px 0;
}

/* Page numbers */
.page-numbers {
    text-align: right;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 4px 0;
}
.page-numbers .button {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #BCBBBA;
    background: white;
}
.page-numbers .current-page {
    font-weight: bold;
}
.page-numbers .disabled {
    color: #BCBBBA;
}