{{Model Lawspot.Views.Ask.QuestionViewModel}}

<h1>Ask A Lawyer</h1>

{{^Registration}}
    <div id="suggestions" style="display: none"></div>
{{/Registration}}

<form id="ask-form" method="post" action="/ask" class="container-form {{#Registration}}step2{{/Registration}}">

{{#ShowRegistrationOrLogin}}
    <section id="qsubmit2">
        <input id="ShowRegistration" name="ShowRegistration" type="hidden" value="{{ShowRegistration}}" />

        <div id="register" {{^ShowRegistration}}style="display: none"{{/ShowRegistration}}>
            <h3><a id="login-link" href="#">Login</a> or Register</span></h3>

	        <div class="field-label">
		        <label for="EmailAddress">Email address: </label>
		        <span class="required">*</span>
	        </div>
	        <div class="offset-field">
		        <input id="EmailAddress" name="Registration.EmailAddress" type="text" value="{{Registration.EmailAddress}}" maxlength="256"
                    {{#FocusInRegistrationEmailAddress}}autofocus{{/FocusInRegistrationEmailAddress}}
			        {{#ModelState.Registration.EmailAddress}}class="validation-error-field"{{/ModelState.Registration.EmailAddress}} />
                <div class="validation-error">{{ModelState.Registration.EmailAddress}}</div>
	        </div>
			
	        <div class="field-label">
		        <label for="Password">Select Password: </label>
		        <span class="required">*</span>
	        </div>
	        <div class="offset-field">
		        <input id="Password" name="Registration.Password" type="password" value="{{Registration.Password}}" maxlength="100"
			        {{#ModelState.Registration.Password}}class="validation-error-field"{{/ModelState.Registration.Password}} />
                <div class="validation-error">{{ModelState.Registration.Password}}</div>
	        </div>
			
	        <div class="field-label">
		        <label for="ConfirmPassword">Confirm password: </label>
		        <span class="required">*</span>
	        </div>
	        <div class="offset-field">
		        <input id="ConfirmPassword" name="Registration.ConfirmPassword" type="password" value="{{Registration.ConfirmPassword}}" maxlength="100"
			        {{#ModelState.Registration.ConfirmPassword}}class="validation-error-field"{{/ModelState.Registration.ConfirmPassword}} />
                <div class="validation-error">{{ModelState.Registration.ConfirmPassword}}</div>
	        </div>
			
	        <div class="field-label">
		        <label for="RegionId">Region: </label>
		        <span class="required">*</span>
	        </div>
	        <div class="offset-field">
                <select id="RegionId" name="Registration.RegionId">
                    {{#Registration.Regions}}
                        <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
                    {{/Registration.Regions}}
                </select>
	        </div>

            <div class="field-label">
                <label for="CommunityServicesCardNumber" title="Community Services Card Number"> C.S.C. Number: </label>

                <div class="privacy-message">
		            <img src="/shared/images/lock.png" width="22" height="27" alt="" class="privacy" />
                    Your information is safe with us.
	            </div>
            </div>
            <div class="offset-field">
                <input id="CommunityServicesCardNumber" name="Registration.CommunityServicesCardNumber" type="text" value="{{Registration.CommunityServicesCardNumber}}" maxlength="20"
                    {{#ModelState.Registration.CommunityServicesCardNumber}}class="validation-error-field"{{/ModelState.Registration.CommunityServicesCardNumber}} />
                <div class="validation-error">{{ModelState.Registration.CommunityServicesCardNumber}}</div>
                {{^ModelState.Registration.CommunityServicesCardNumber}}
                    <small class="community-services-text">
                        If you have a Community Services Card, enter the client number here and you will receive priority service.
                    </small>
                {{/ModelState.Registration.CommunityServicesCardNumber}}
            </div>

	        <p class="form-message">
                <strong>Why do I have to register to ask a question?</strong><br />
	            We require your email address so that we can notify you when an answer has been
                posted and your region so that we can more effectively connect you to the
                appropriate legal services.
            </p>
        </div>

        <div id="login" {{^ShowLogin}}style="display: none"{{/ShowLogin}}>
            <h3>Login or <a id="register-link" href="#">Register</a></h3>

            <div class="field-label">
                <label for="LoginEmailAddress"> Email address: </label>
                <span class="required">*</span>
            </div>
            <div class="offset-field">
                <input id="LoginEmailAddress" name="Login.EmailAddress" type="text" value="{{Login.EmailAddress}}" maxlength="256"
                    {{#FocusInLoginEmailAddress}}autofocus{{/FocusInLoginEmailAddress}}
                    {{#ModelState.Login.EmailAddress}}class="validation-error-field"{{/ModelState.Login.EmailAddress}} />
                <div class="validation-error">{{ModelState.Login.EmailAddress}}</div>
            </div>

            <div class="field-label">
                <label for="LoginPassword"> Password: </label>
                <span class="required">*</span>
            </div>
            <div class="offset-field">
                <input id="LoginPassword" name="Login.Password" type="password" value="{{Login.Password}}" maxlength="100"
                    {{#ModelState.Login.Password}}class="validation-error-field"{{/ModelState.Login.Password}} />
                <div class="validation-error">{{ModelState.Login.Password}}</div>
            </div>

            <div class="offset-field">
                <label>
                    <input name="Login.RememberMe" type="checkbox" {{#Login.RememberMe}}checked{{/Login.RememberMe}} value="true" />
                    Remember me for next time
                </label>
            </div>
        </div>

	    <div class="qsubmit-button">
		    <button type="submit">ASK YOUR QUESTION</button>
	    </div>
    </section>
{{/ShowRegistrationOrLogin}}

<section id="qsubmit1">
    {{#Registration}}
        <div id="qsubmit-overlay1"></div>
        <div id="qsubmit-overlay2"></div>
    {{/Registration}}

    <div id="qsubmit1-inner">
	    <div class="qsubmit-field">
		    <span id="TitleCharCount" class="char-count">150 characters remaining</span>
		    <label for="Title">Your Question: </label>
		    <span class="required">*</span><br />
		    <input id="Title" name="Title" type="text" value="{{Title}}" maxlength="150"
                {{#FocusInTitle}}autofocus{{/FocusInTitle}}
				{{#ModelState.Title}}class="validation-error-field"{{/ModelState.Title}} />
		    <div class="validation-error">{{ModelState.Title}}</div>
		    <small>There are some questions LawSpot doesn’t answer. <a href="/terms">Find out more.</a></small>
	    </div>

	    <div class="qsubmit-field">
		    <span id="DetailsCharCount" class="char-count">600 characters remaining</span>
		    <label for="Details">Question Details: </label>
		    <span class="required">*</span><br />
		    <textarea id="Details" name="Details" rows="6"
                {{#FocusInDetails}}autofocus{{/FocusInDetails}}
                {{#ModelState.Details}}class="validation-error-field"{{/ModelState.Details}}>{{Details}}</textarea>
		    <div class="validation-error">{{ModelState.Details}}</div>
	    </div>

	    <div class="qsubmit-field">
		    <div class="field-label">
			    <label for="Category">Category: </label>
			    <span class="required">*</span>
		    </div>
		    <div class="offset-field">
                <select id="Category" name="CategoryId">
                    <option value="0">Select category</option>
                    {{#Categories}}
                        <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
                    {{/Categories}}
                </select>
			    <div class="validation-error">{{ModelState.CategoryId}}</div>
		    </div>
	    </div>

	    <div id="qsubmit-agreement" class="qsubmit-field">
			<label>
				<input id="Agreement" name="Agreement" type="checkbox" {{#Agreement}}checked{{/Agreement}} value="true"
					    {{#ModelState.Agreement}}class="validation-error-field"{{/ModelState.Agreement}} />
				<small>
                    I agree to the <a href="/terms" target="_blank">Terms of Use</a>,
                    understand that my question and answer will be made public (but not my
                    name) and consent to LawSpot answering questions from other people involved
                    in my legal issue. See our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
                </small>
			</label>
			<div class="validation-error">{{ModelState.Agreement}}</div>
	    </div>

	    <div class="qsubmit-button">
            {{^User}}
		        <button type="submit" {{#Registration}}disabled{{/Registration}}/>CONTINUE &raquo;</button>
            {{/User}}
            {{#User}}
                <button type="submit">ASK YOUR QUESTION</button>
            {{/User}}
	    </div>

        <div style="clear: right"></div>
    </div>
</section>


{{! Change the mustache set delimiter so that tags within the templates are not replaced }}
{{=** **=}}

<script id="suggestions-template" type="text/template">
    <h2> Has it been answered already? </h2>
    <h3> Check it below before you ask. </h3>
    <ul class="list-arrows">
        {{#Suggestions}}
    	    <li>
                <a href="{{Uri}}">{{Title}}</a>
            </li>
        {{/Suggestions}}
    </dl>
</script>

**! Change the mustache set delimiter back to normal **
**={{ }}=**