form.filter-form {
	margin: -45px 0 25px 0;
}
form.filter-form .sort {
	text-align: right;
	margin-bottom: 12px;
}
form.filter-form .filter {
	float: right;
    margin-bottom: 12px;
}
form.filter-form .search {
    clear: right;
	float: right;
    margin-bottom: 12px;
}
form.filter-form .search button {
    width: 31px;
    height: 31px;
    padding: 0;
}
#category-drop-down {
    margin-left: 5px;
	width: 260px;
}
#filter-drop-down {
    margin-left: 5px;
	width: 225px;
}
#sort-drop-down {
    margin-left: 5px;
	width: 225px;
}
#search-textbox {
    width: 190px;
}

.question-container {
	padding: 8px 20px 15px 8px;
}
.question-container .question-header {
	margin-left: 40px;
}
.question-header span, .question-header span a {
	font-size: 12px;
	color: #6F6F6F;
}

span.question-category {
	display: block;
	margin-top: 2px;
}
span.question-time {
	display: block;
	float: right;
	margin-top: 2px;
	text-align: right;
}
.question-container form {
	margin-left: 40px;
	color: #4A4632;
	*display: none;
}
.question-container textarea {
	width: 620px;
	height: 350px;
	margin-top: 10px;
}
.question-container form small {
	font-size: 0.8em;
}
select.category, select.canned-rejection-reasons {
    margin-left: 5px;
	width: 240px;
}
.inner-content button.red {
	margin-left: 10px;
}
.inner-content textarea {
	width: 635px;
	margin: 10px 0 0 0;
}
.inner-content .question-label {
	display: block;
	float: left;
	width: 300px;
}
.inner-content .buttons {
	margin: 15px 0 0 0;
}
.admin-labels {
	margin-top: 10px;
}
.admin-labels .question-header {
	line-height: 25px;
}
.question-container .progress-indicator {
    display: none;
    position: absolute;
    margin: 12px 0 0 20px;
}

.expanded {
	background-color: #D8D1BC;
	margin-bottom: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}

.action-complete {
	padding: 5px 10px 20px;
	border-radius: 10px;
	margin-bottom: 15px;
	-webkit-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
}
.action-complete.approved {
	background-color: #C0D7BC;
}
.action-complete.rejected {
	background-color: #E9B0B0;
}
.action-complete h3 {
	font-size: 1.3em;
}
.action-complete h3, .action-complete p {
	margin-left: 50px;
}
.action-complete img.left {
	position: relative;
	top: 17px;
	left: 7px;
}

.left {
    float: left;
}
.centre {
	margin: 0 auto;
	text-align: center;
}

.initial-form {
    display: block;
}
.rejection-form {
    display: none;
}