{{Model Lawspot.Views.Admin.ReviewAnswersViewModel}}

<h1>Review Answers</h1>
	            
<form method="get" class="filter-form">
    <div class="sort">
        Sort By
        <select id="sort-drop-down" name="sort" onchange="this.form.submit()">
            {{#SortOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/SortOptions}}
        </select>
    </div>
    <div class="filter">
	    Show
	    <select id="filter-drop-down" name="filter" onchange="this.form.submit()">
            {{#FilterOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/FilterOptions}}
	    </select>
    </div>
    <div class="category">
	    View questions asked in
	    <select id="category-drop-down" name="category" onchange="this.form.submit()">
            {{#CategoryOptions}}
	            <option value="{{Value}}" {{#Selected}}selected{{/Selected}}>{{Text}}</option>
            {{/CategoryOptions}}
	    </select>
    </div>
</form>

{{! Page numbers }}
{{#Answers}}
    {{#ShowPageLabels}}
        <div class="page-numbers">
            {{#HasPrevious}}
                <a class="button" href="{{PreviousUri}}">Previous</a>
            {{/HasPrevious}}
            {{^HasPrevious}}
                <span class="button disabled">Previous</span>
            {{/HasPrevious}}
            {{#PageLabels}}
                {{#IsClickable}}
                    <a class="button" href="{{NavigateUri}}">{{Text}}</a>
                {{/IsClickable}}
                {{#IsCurrentPage}}
                    <span class="button current-page">{{Text}}</span>
                {{/IsCurrentPage}}
                {{#IsEllipsis}}
                    <span class="ellipsis">{{Text}}</span>
                {{/IsEllipsis}}
            {{/PageLabels}}
            {{#HasNext}}
                <a class="button" href="{{NextUri}}">Next</a>
            {{/HasNext}}
            {{^HasNext}}
                <span class="button disabled">Next</span>
            {{/HasNext}}
        </div>
    {{/ShowPageLabels}}
{{/Answers}}

<div>
    {{#Answers.Items}}
	    <div class="question-container">
	        <img class="left" src="/views/admin/reviewanswers/answer-icon.png" width="27" height="19" alt="" />
	        <div class="question-header">
	            <a href="/admin/review-answer?questionId={{QuestionId}}">{{Title}}</a><br />
                <span class="question-time">{{DateAndTime}}</span>
                <span class="question-category">{{CategoryName}}</span>
	        </div>
            <div class="inner-content"></div>
	    </div>
    {{/Answers.Items}}
</div>

{{^Answers.Items}}
    <p>There are no answers that meet your criteria.</p>
{{/Answers.Items}}